@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("nav2");

.#{$component} {
    // position: fixed;
    // max-width: 1440px;
    // width: 100%;
    // z-index: 30;
    // top: 160px;
    // @include media-breakpoint-down(lg) {
    //  top: 65px;
    // }

  &--layout1 {
    height: 50px;
    @include media-breakpoint-down(lg) {
      overflow: auto;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
   -ms-overflow-style: none;  /* IE and Edge */
   scrollbar-width: none;  /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
      }
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 0 !important;
    &:not(:last-child) {
    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }
  }
    // font-size: getTypoFontsize("6");
    // line-height: getTypoLineheight("6");
    a {
      white-space: nowrap;
      &:hover {
        font-weight: bold;
        text-decoration: none;
      }
    }
    i {
      display: none;
    }
    &.is-active {
      font-weight: 600;
      i {
      @include media-breakpoint-up(lg) {
      display: block;
      position: absolute;
      transform: rotate(90deg);
      bottom: -35px;
      & svg {
        font-size: 30px;
      }
    }
    }
  }
    }
  }
