@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("menu");

.zaux-menu-active {
  // @include media-breakpoint-down(lg) {
  // overflow: hidden;
  // }
  overflow: hidden;
}

.#{$component} {

  @include media-breakpoint-up(lg) {
    // max-height: calc( 100vh - 140px);
    // min-height: calc( 100vh - 140px);
    // max-width: 1440px;
    // margin: auto;
    position: relative;
    &::before {
      content: '';
      background-color: #676767;
      position: absolute;
      width: 30%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  @include media-breakpoint-down(lg) {
    position: absolute;
    z-index: 30;
    width: 100%;
    background-color: white;
    overflow-y: auto;
      }

  &__inner {
    @include media-breakpoint-up(lg) {
  // position: absolute;
  z-index: 30;
  height: 100%;
  max-width: 1440px;
  width: 100%;
  background-color: white;
  overflow-y: auto;
  margin: auto;
    }
  }

  @include media-breakpoint-down(lg) {
    height: 100%;
    top:0;
    left: 0;
    position: fixed;
  }

  &.closed {
    display: none;
  }
  &.open {
    display: block;
  }

  &__content {
    font-size: 24px;
    height: 100%;
    @include media-breakpoint-up(lg){
      min-height: calc( 100vh - 60px);
    }
    &__nav {
      @include media-breakpoint-up(lg) {
        width: 27%;
        background-color: #676767;
        // min-height: 550px;
      }
      ul {
        list-style: none;
        margin: 0 !important;
        li.#{$component}__content__navlist {
            padding-bottom: 10px;
          &.open {
            &:last-child {
              @include media-breakpoint-down(lg) {
              padding-bottom: 0;
              }
            }
            .#{$component}__content__navlist--click {
            font-weight: 600;
            & i {
              font-size: 32px;
              right: -21px;
              top: 3px;
              z-index: 6;
            }
            @include media-breakpoint-up(lg) {
              font-weight: 700;
            }
            }
          }
          @include media-breakpoint-down(lg) {

            position: relative;
            &::after {
              content: "+";
              color: white;
              position: absolute;
              right: 20px;
              top: 0;
            }
            &.open::after {
              content: "-"
            }
          }
        }
        li.#{$component}__content__navlist.open {
          & .#{$component}__content__navlist--show {
            overflow-y: auto;
            width: 100%;
            display: block !important;
            @include media-breakpoint-up(lg) {
              position: absolute;
              top: 0;
              left: 27%;
              display: flex !important;
              width: 73%;
              z-index: 5;
              padding: 0 93px;
            }
          }
        }

      }
    }

    & .#{$component}__initialcards {
      width: 73%;
      &.open{
        display: none !important;
      }
    }

    & .#{$component}__foot--search {
      font-size: 16px;
      & input {
        border: 2px solid #F1F1F1;
      }
      & input:placeholder-shown {
        background-image: url(../../assets/icon/icozaux1/SVG/search.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: bottom 7px right 20px;
      }
    }

  }

}
