@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("menu");

.zaux-menu-active {
  overflow: hidden;
}

.#{$component} {

  position: absolute;
  z-index: 30;
  width: 100%;
  max-width: 1440px;
  background-color: white;

  @include media-breakpoint-down(lg) {
    height: 100%;
    top:0;
    left: 0;
    position: fixed;
  }

  &.closed {
    display: none;
  }
  &.open {
    display: block;
  }

  &__content {
    font-size: 24px;
    overflow-y: auto;
    &__nav {
      @include media-breakpoint-up(lg) {
        width: 27%;
        background-color: #676767;
      }
      ul {
        list-style: none;
        li.#{$component}__content__navlist {
          &.open {
            .#{$component}__content__navlist--click {
            font-weight: 700;
            @include media-breakpoint-down(lg) {
              font-weight: 600;
            }
            }
          }
          @include media-breakpoint-down(lg) {

            position: relative;
            &::after {
              content: "+";
              color: white;
              position: absolute;
              right: 20px;
              top: 0;
            }
            &.open::after {
              content: "-"
            }
          }
        }
        li.#{$component}__content__navlist.open {
          & .#{$component}__content__navlist--show {
            width: 100%;
            display: block !important;
            @include media-breakpoint-up(lg) {
              position: absolute;
              top: 0;
              left: 27%;
              display: flex !important;
              width: 73%;
            }
          }
        }

      }
    }

    & .#{$component}__foot--search {
      font-size: 16px;
      & input {
        border: 2px solid #F1F1F1;
      }
      & input:placeholder-shown {
        background-image: url(../../assets/icon/icozaux1/SVG/search.svg);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: bottom 2px right 20px;
      }
    }

  }

}
