

{% import 'components/icon/icon.njk' as Icon %}
{% macro content(obj) %}

  {% set componentClassName = 'c-form' %}

  {% set configDefault = {
    "className": []
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}

 {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}


  {% if obj.newsletter %}
    <div class="{{_className | join(" ")}}">
      <form class="{{componentClassName}}--light {{componentClassName}}--newsletter d-flex justify-content-center">
        <div class="form-group">
          <input id="newsletterEmailAddress" type="email" class="form-control h-100 mb-2" placeholder="Il tuo indirizzo email">
        </div>
        {# <div class="form-group">
          <div class="form-check checkbox">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label c-typo-ff-1 c-typo-fw-regular" for="gridCheck">
              Acconsento al trattamento dei dati personali secondo la <a href="#" class="c-typo-ff-2 c-typo-fw-medium">Privacy Policy</a> *
            </label>
          </div>
        </div> #}
        <button type="submit" class="c-cta1 c-cta1--sm c-cta1--red" title="button title">JOIN</button>
      </form>
    </div>
    {% endif %}
    {% if obj.searchfilter %}
      <div class="{{_className | join(" ")}}">
        <form class="{{componentClassName}}--light {{componentClassName}}__search d-flex flex-column flex-lg-row">
          <div class="d-flex {{componentClassName}}__search--grp pb-6 pb-lg-0">
            {# <div class="form-group">
              <select class="selection form-control">
                <option style="display:none;" selected>Topic</option>
                <optgroup label="Diseases">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
                <optgroup label="Treatments">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option selected>Bodies</option>
                <optgroup label="Diseases">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              <optgroup label="Treatments">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option selected>Series</option>
                <optgroup label="Diseases">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              <optgroup label="Treatments">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              </select>
              </div>
              <div class="form-group">
              <select class="form-control">
                <option selected>Year</option>
                <optgroup label="Diseases">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              <optgroup label="Treatments">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              </select>
              </div> #}

              {# <ul class="selected-change list-unstyled">
                <li class="init"><a>Topic</a></li>
                <li class="optgroup"><a>Diseases</a>
                  <ul class="option-list list-unstyled">
                    <li data-val="1"><a>CKD-MBD</a></li>
                    <li data-val="2"><a>Diabetes</a></li>
                  </ul>
                </li>
                <li class="optgroup"><a>Treatments</a>
                  <ul class="option-list list-unstyled">
                    <li data-val="1"><a>Dialysis</a></li>
                    <li data-val="2"><a>Transplant</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="selected-change list-unstyled">
                <li class="init"><a>Year</a></li>
                <li><a>2022</a></li>
                <li><a>2021</a></li>
                <li><a>2020</a></li>
                <li><a>2019</a></li>
                <li><a>2018</a></li>
              </ul> #}

               {% include "partials/ui/test-dropdown.njk" %}

          </div>
          <div class="{{componentClassName}}__search--input">
            <div class="form-group">
              <input id="search" type="search" class="form-control">
            </div>
          </div>
        </form>
    </div>
    {% endif %}
     {% if obj.contact %}
    <div class="{{_className | join(" ")}}">
      <form class="{{componentClassName}}__contact">
        <div class="row">
            <div class="form-group col-12 col-lg-6 pe-lg-2">
              <input type="text" class="form-control" placeholder="Name*">
            </div>
            <div class="form-group col-12 col-lg-6 ps-lg-2">
              <input type="text" class="form-control" placeholder="Email*">
            </div>
          </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Message"></textarea>
        </div>
         <div class="form-group">
          <div class="form-check checkbox">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              *I declare to have read the note on the <a href="#" >privacy</a> and I authorize ERA to the processing of my personal data relating to its institutional activities.
            </label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="c-cta1 c-cta1--sm c-cta1--red" title="button title">Send message</button>
        </div>
      </form>
    </div>
    {% endif %}



{% endmacro %}
