

{% import 'components/icon/icon.njk' as Icon %}
{% macro content(obj) %}

  {% set componentClassName = 'c-form' %}

  {% set configDefault = {
    "className": []
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}

 {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}


  {% if obj.newsletter %}
    <div class="{{_className | join(" ")}}">
      <form class="{{componentClassName}}--light {{componentClassName}}--newsletter d-flex justify-content-center">
        <div class="form-group">
          <input id="newsletterEmailAddress" type="email" class="form-control h-100 mb-2" placeholder="Il tuo indirizzo email">
        </div>
        {# <div class="form-group">
          <div class="form-check checkbox">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label c-typo-ff-1 c-typo-fw-regular" for="gridCheck">
              Acconsento al trattamento dei dati personali secondo la <a href="#" class="c-typo-ff-2 c-typo-fw-medium">Privacy Policy</a> *
            </label>
          </div>
        </div> #}
        <button type="submit" class="c-cta1 c-cta1--sm c-cta1--red" title="button title">JOIN</button>
      </form>
    </div>
    {% endif %}
    {% if obj.searchfilter %}
      <div class="{{_className | join(" ")}}">
        <form class="{{componentClassName}}--light {{componentClassName}}__search d-flex flex-column flex-lg-row">
          <div class="d-flex {{componentClassName}}__search--grp pb-6 pb-lg-0">
            <div class="form-group">
              <select class="selection form-control">
                <option selected>Topic</option>
                <optgroup label="Diseases">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
                <optgroup label="Treatments">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option selected>Bodies</option>
                <optgroup label="Diseases">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              <optgroup label="Treatments">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option selected>Series</option>
                <optgroup label="Diseases">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              <optgroup label="Treatments">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              </select>
              </div>
              <div class="form-group">
              <select class="form-control">
                <option selected>Year</option>
                <optgroup label="Diseases">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              <optgroup label="Treatments">
                  <option>1</option>
                  <option>2</option>
                </optgroup>
              </select>
              </div>

              {# <ul class="selected-change list-unstyled">
                <li class="init"><a>Topic</a></li>
                <li class="optgroup"><a>Diseases</a>
                  <ul class="option-list list-unstyled">
                    <li data-val="1"><a>CKD-MBD</a></li>
                    <li data-val="2"><a>Diabetes</a></li>
                  </ul>
                </li>
                <li class="optgroup"><a>Treatments</a>
                  <ul class="option-list list-unstyled">
                    <li data-val="1"><a>Dialysis</a></li>
                    <li data-val="2"><a>Transplant</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="selected-change list-unstyled">
                <li class="init"><a>Year</a></li>
                <li><a>2022</a></li>
                <li><a>2021</a></li>
                <li><a>2020</a></li>
                <li><a>2019</a></li>
                <li><a>2018</a></li>
              </ul> #}

               {# {% include "partials/ui/test-dropdown.njk" %} #}

          </div>
          <div class="{{componentClassName}}__search--input">
            <div class="form-group">
              <input id="search" type="search" class="form-control">
            </div>
          </div>
        </form>
    </div>
    {% endif %}
     {% if obj.contact %}
    <div class="{{_className | join(" ")}}">
      <div class="{{componentClassName}}__contact">

        <div role="form" class="wpcf7" id="wpcf7-f4340-o1" lang="it-IT" dir="ltr">
          <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
          <form action="/rea/#wpcf7-f4340-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
            <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="4340" />
            <input type="hidden" name="_wpcf7_version" value="5.3.2" />
            <input type="hidden" name="_wpcf7_locale" value="it_IT" />
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4340-o1" />
            <input type="hidden" name="_wpcf7_container_post" value="0" />
            <input type="hidden" name="_wpcf7_posted_data_hash" value="" />
            <input type="hidden" name="_wpcf7_recaptcha_response" value="" />
            </div>
            <div class="row">
              <div class="form-group col-12 col-lg-6 pe-lg-2">
                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Name" /></span>
              </div>
              <div class="form-group col-12 col-lg-6 ps-lg-2">
                <span class="wpcf7-form-control-wrap your-email"><input type="text" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Email" /></span>
              </div>
            </div>
            <div class="form-group">
            <span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Subject" /></span>
            </div>
            <div class="form-group">
              <span class="wpcf7-form-control-wrap textarea-465"><textarea name="textarea-465" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Message"></textarea></span>
            </div>
            <div class="form-group">
              <div class="form-check checkbox">
                <span class="wpcf7-form-control-wrap your-privacy"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><input type="checkbox" name="your-privacy" value="1" aria-invalid="false" class="form-check-input" id="gridCheck" /></span></span></span>
                <label class="form-check-label" for="gridCheck"> *I declare to have read the note on the <a href="#">privacy</a> and I authorize ERA to the processing of my personal data relating to its institutional activities. </label>
              </div>
            </div>
            <div class="text-center">
            <input type="submit" value="Send message" class="wpcf7-form-control wpcf7-submit c-cta1 c-cta1--red c-cta1--sm" />
            </div><div class="wpcf7-response-output" aria-hidden="true"></div>
          </form>
        </div>

      </div>
    </div>
    {% endif %}


{#
SU CONTACT FORM

<div class="row">
   <div class="form-group col-12 col-lg-6 pe-lg-2">
    [text* your-name class:form-control placeholder "Name"]
   </div>
   <div class="form-group col-12 col-lg-6 ps-lg-2">
     [text* your-email class:form-control placeholder "Email"]
   </div>
</div>
<div class="form-group">
    [select your-interest class:form-control  id:inputAreaInterest "Seleziona" "Commerciale" "Formazione" "Amministrazione"]
</div>
<div class="form-group">
 [text* subject class:form-control placeholder "Subject"]
</div>
<div class="form-group">
  [textarea* textarea-465 class:form-control placeholder "Message" ]
</div>
<div class="form-group">
   <div class="form-check checkbox">
     [acceptance your-privacy class:form-check-input id:gridCheck]
    <label class="form-check-label" for="gridCheck"> *I declare to have read the note on the <a href="#">privacy</a> and I authorize ERA to the processing of my personal data relating to its institutional activities. </label>
  </div>
</div>
<div class="text-center">
[submit class:c-cta1 class:c-cta1--red class:c-cta1--sm "Send message"]
</div> #}

        {# CODICE PRECEDENTE

        <div class="row">
            <div class="form-group col-12 col-lg-6 pe-lg-2">
              <input type="text" class="form-control" placeholder="Name*">
            </div>
            <div class="form-group col-12 col-lg-6 ps-lg-2">
              <input type="text" class="form-control" placeholder="Email*">
            </div>
          </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
        </div>
        <div class="form-group">
          <textarea class="form-control" placeholder="Message"></textarea>
        </div>
         <div class="form-group">
          <div class="form-check checkbox">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              *I declare to have read the note on the <a href="#" >privacy</a> and I authorize ERA to the processing of my personal data relating to its institutional activities.
            </label>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="c-cta1 c-cta1--sm c-cta1--red" title="button title">Send message</button>
        </div>
        #}

{% endmacro %}
