<div class="table-container" role="table" aria-label="Table Benefits">
  <div class="flex-table header d-none d-lg-flex" role="rowgroup">
    <div class="flex-row w-lg-25"><p>Category</p></div>
    <div class="flex-row w-lg-25" >Qualification</div>
    <div class="flex-row w-lg-12-5" >Fee</div>
    <div class="flex-row w-lg-12-5" >NDT Hard Copies</div>
    <div class="flex-row w-lg-12-5" >NDT Online</div>
    <div class="flex-row w-lg-12-5" ><p>Congress discount</p></div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row first" role="cell"> Regular*</div>
  <div class="flex-row second" role="cell">Professional nephrologists </div>
  <div class="flex-row" role="cell">€ 170 /year</div>
  <div class="flex-row" role="cell">
                <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
                {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
     <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
     {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 150€</div>
  <div class="divTable--show d-none">
      <div class="d-flex justify-content-between">
        <div class="maw-f550">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Join</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row" role="cell"> Special Discount Regular*</div>
  <div class="flex-row" role="cell">Only for members living in Low Income Countries </div>
  <div class="flex-row" role="cell">€ 110 /year</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
    {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Online</span>{{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 180€</div>
   <div class="divTable--show d-none">
      <div class="d-block d-lg-flex justify-content-between">
        <div class="maw-f550 pb-4 pb-lg-0">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover membership benefits</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row" role="cell"> Special Discount Regular*</div>
  <div class="flex-row" role="cell">Only for members living in Low Income Countries </div>
  <div class="flex-row" role="cell">€ 110 /year</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
    {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Online</span>{{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 180€</div>
   <div class="divTable--show d-none">
      <div class="d-block d-lg-flex justify-content-between">
        <div class="maw-f550 pb-4 pb-lg-0">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover membership benefits</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row" role="cell"> Special Discount Regular*</div>
  <div class="flex-row" role="cell">Only for members living in Low Income Countries </div>
  <div class="flex-row" role="cell">€ 110 /year</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
    {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Online</span>{{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 180€</div>
   <div class="divTable--show d-none">
      <div class="d-block d-lg-flex justify-content-between">
        <div class="maw-f550 pb-4 pb-lg-0">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover membership benefits</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row" role="cell"> Special Discount Regular*</div>
  <div class="flex-row" role="cell">Only for members living in Low Income Countries </div>
  <div class="flex-row" role="cell">€ 110 /year</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
    {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Online</span>{{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 180€</div>
   <div class="divTable--show d-none">
      <div class="d-block d-lg-flex justify-content-between">
        <div class="maw-f550 pb-4 pb-lg-0">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover membership benefits</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row" role="cell"> Special Discount Regular*</div>
  <div class="flex-row" role="cell">Only for members living in Low Income Countries </div>
  <div class="flex-row" role="cell">€ 110 /year</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
    {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Online</span>{{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 180€</div>
   <div class="divTable--show d-none">
      <div class="d-block d-lg-flex justify-content-between">
        <div class="maw-f550 pb-4 pb-lg-0">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover membership benefits</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row" role="cell"> Special Discount Regular*</div>
  <div class="flex-row" role="cell">Only for members living in Low Income Countries </div>
  <div class="flex-row" role="cell">€ 110 /year</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
    {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
    <span class="d-inline-block d-lg-none">NDT Online</span>{{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 180€</div>
   <div class="divTable--show d-none">
      <div class="d-block d-lg-flex justify-content-between">
        <div class="maw-f550 pb-4 pb-lg-0">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover membership benefits</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row first" role="cell"> Regular*</div>
  <div class="flex-row second" role="cell">Professional nephrologists </div>
  <div class="flex-row" role="cell">€ 170 /year</div>
  <div class="flex-row" role="cell">
                <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
                {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
     <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
     {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 150€</div>
  <div class="divTable--show d-none">
      <div class="d-flex justify-content-between">
        <div class="maw-f550">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Join</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row first" role="cell"> Regular*</div>
  <div class="flex-row second" role="cell">Professional nephrologists </div>
  <div class="flex-row" role="cell">€ 170 /year</div>
  <div class="flex-row" role="cell">
                <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
                {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
     <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
     {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 150€</div>
  <div class="divTable--show d-none">
      <div class="d-flex justify-content-between">
        <div class="maw-f550">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Join</a>
        </div>
      </div>
  </div>
</div>
<div class="divTable flex-table closed" role="rowgroup">
  <div class="flex-row" role="cell"> Regular*</div>
  <div class="flex-row" role="cell">Professional nephrologists </div>
  <div class="flex-row" role="cell">€ 170 /year</div>
  <div class="flex-row" role="cell">
      <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
                {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row" role="cell">
     <span class="d-inline-block d-lg-none">NDT Hard Copies</span>
     {{
                Img.content({
                  "isLazy": false,
                  "src": "media/SpuntaTabella.png",
                  "src2x": "media/SpuntaTabella.png",
                  "width": 40,
                  "height": 40,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": "",
                  "wrapperClassName": ""
                })
                }}</div>
  <div class="flex-row d-none d-lg-flex" role="cell">Up to 150€</div>
  <div class="divTable--show d-none">
      <div class="d-flex justify-content-between">
        <div class="maw-f550">
          <p>Members receive <strong>all benefits including</strong> online access and hard copies of the journal ‘Nephrology, Dialysis and Transplantation’ (NDT).</p>
        </div>
        <div class="">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Join</a>
        </div>
      </div>
  </div>
</div>
</div>
