 <div class="mb-8 mb-lg-9">
    <div class="zaux-bg-set1-grey">

      <div class="">
        <div class="mb-9 position-relative overflow-hidden">
          <div class="position-absolute zaux-pos-custom1">
            {# zaux-zi--1 #}
            {{
              Img.content({
                "isLazy": false,
                "src": "assets/img/CombinedShapeG.svg",
                "src2x": "assets/img/CombinedShapeG.svg",
                "width": 1440,
                "height": 562,
                "className": [""],
                "title": "title",
                "alt": "alt",
                "wrapperElement": "",
                "wrapperClassName": ""
              })
            }}
          </div>
          <div class="p-box position-relative">
            <div class="font-zaux2 py-6 zaux-theme--light1 text-center">
              <h6 class="fw-demi zaux-color-set1-green1 c-typo-fs-10 c-typo-fs-lg-13 mb-3">The best of Education</h6>
            </div>
             <div class="pb-4 pb-lg-7 c-typo-style1-4 c-typo-style1-lg-8 maw-f825 m-auto text-center">
              <p>ERA's purpose is to:
                  Provide the best knowledge and the latest updates on hot topics in nephrology;
                  Carry on cutting edge research through programmes, journals and congress;
                  Connect members, associations and patients to create the largest nephrology community of the Mediterranean.</p>
            </div>
            <div class="row gx-3 flex-nowrap flex-lg-wrap overflow-auto">
              <div class="col-12 pb-lg-6">
                {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1",
               "full": "y"
              }
            )}}
              </div>
              <div class="col-12 col-lg-3 pb-lg-6">
               {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3 pb-lg-6">
               {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3 pb-lg-6">
               {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1"
              }
            )}}
              </div>
              <div class="col-12 col-lg-3 pb-lg-6">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1"
              }
            )}}
              </div>
              <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-green1"
              }
            )}}
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="">
        <div class="mb-9 position-relative overflow-hidden">
          <div class="position-absolute zaux-pos-custom1">
            {{
              Img.content({
                "isLazy": false,
                "src": "assets/img/CombinedShapeY.svg",
                "src2x": "assets/img/CombinedShapeY.svg",
                "width": 1440,
                "height": 562,
                "className": [""],
                "title": "title",
                "alt": "alt",
                "wrapperElement": "",
                "wrapperClassName": ""
              })
            }}
          </div>
          <div class="p-box position-relative">
            <div class="font-zaux2 py-6 zaux-theme--light1 text-center">
              <h6 class="fw-demi zaux-color-set1-yellow1 c-typo-fs-10 c-typo-fs-lg-13 mb-3">Avantgarde Science</h6>
            </div>
             <div class="pb-4 pb-lg-7 c-typo-style1-4 c-typo-style1-lg-8 maw-f825 m-auto text-center">
              <p>Being a Member of ERA means being part of one of the most important and prestigious international Medical Associations.
                One of the main goals of the ERA is to encourage and report advances in the field of clinical nephrology,
                dialysis, renal transplantation, and other related subjects.</p>
            </div>
              <div class="row gx-3 flex-nowrap flex-lg-wrap overflow-auto">
              <div class="col-12 pb-lg-6">
                {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-yellow1",
               "full": "y"
              }
            )}}
              </div>
              <div class="col-12 col-lg-6 pb-lg-6">
               {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-yellow1"
              }
            )}}
              </div>
              <div class="col-12 col-lg-6 pb-lg-6">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-yellow1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-yellow1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-yellow1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-yellow1"
              }
            )}}
              </div>
              <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-yellow1"
              }
            )}}
              </div>
            </div>
          </div>
        </div>

      </div>

       <div class="pb-lg-12">
        <div class="mb-9 position-relative overflow-hidden">
          <div class="position-absolute zaux-pos-custom1">
            {{
              Img.content({
                "isLazy": false,
                "src": "assets/img/CombinedShapeB.svg",
                "src2x": "assets/img/CombinedShapeB.svg",
                "width": 1440,
                "height": 562,
                "className": [""],
                "title": "title",
                "alt": "alt",
                "wrapperElement": "",
                "wrapperClassName": ""
              })
            }}
          </div>
          <div class="p-box position-relative">
            <div class="font-zaux2 py-6 zaux-theme--light1 text-center">
              <h6 class="fw-demi zaux-color-set1-blue1 c-typo-fs-10 c-typo-fs-lg-13 mb-3">International Networking</h6>
            </div>
             <div class="pb-4 pb-lg-7 c-typo-style1-4 c-typo-style1-lg-8 maw-f825 m-auto text-center">
              <p>Being a Member of ERA means being part of one of the most important and prestigious international Medical Associations.
                One of the main goals of the ERA is to encourage and report advances in the field of clinical nephrology,
                dialysis, renal transplantation, and other related subjects.</p>
            </div>
              <div class="row gx-3 flex-nowrap flex-lg-wrap overflow-auto">
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-blue1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-blue1"
              }
            )}}
              </div>
               <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-blue1"
              }
            )}}
              </div>
              <div class="col-12 col-lg-3">
                 {{CardBenefits.content(
              {
              "className": ["shadow--grey2 rounded-2","zaux-bg-default-white","p-6"],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "title": "E-seminars",
              "txt": "“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.”",
              "ctaClassName": "zaux-color-set1-blue1"
              }
            )}}
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
