<div class="position-relative">
  <div class="zaux-pos-content zaux-pos-herobox">
    <div class="hcol-1 zaux-bg-set1-grey p-box rounded-bottom-100 mih-boxtitle pt-3 pt-lg-6">
      <div class="pb-2 pb-lg-4">
        {{ Breadcrumbs.content() }}
      </div>
      <div class="font-zaux2 zaux-theme--light1 pb-2 pb-lg-4">
        <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Paris Congress 2022</h6>
      </div>
      <div class="c-typo-style1-3 c-typo-style1-lg-4 maw-f768 pe-lg-0 pe-2 pb-lg-0 pb-2">
        <p>ERA organizes the largest annual Nephrology Congress in Europe, welcoming thousands of attendees coming from all over the world,
          focusing on key learning features both in the clinical field as well as the scientific and latest innovations.</p>
      </div>
    </div>
    <div class="hcol-2 pe-box d-flex align-items-center mih-boxtitle justify-content-center justify-content-lg-end">
            {{
                  Img.content({
                  "isLazy": false,
                  "src": "media/ParisLogo.png",
                  "src2x": "media/ParisLogo@2x.png",
                  "width": 300,
                  "height": 51,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": ["figure"],
                  "wrapperClassName": [""]
                  })
            }}
    </div>
  </div>
  <div class="zaux-pos-custom5">
    <div class="d-flex">
      <div class="zaux-bg-set1-grey rounded-bottom-100 col-12 col-lg-6 mih-boxtitle"></div>
      <div class="col-lg-6 d-none d-lg-block"></div>
    </div>
  </div>
</div>
