<div class="p-box mb-6 mb-lg-7">
  <div class="border-bottom-box pb-8 position-relative">

    <div class="d-flex justify-content-between align-items-center pb-6 pb-md-9">
      <div class="font-zaux2 zaux-theme--light2">
        <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Most Popular</h6>
      </div>
    </div>
    <div>
      {% include "components/slider/slider_mostpopular.njk" %}
      </div>

  </div>
</div>
