<div class="p-box pb-8">
  <div class="py-6 zaux-theme--light2 pb-6 pb-md-9">
    <h6 class="c-typo-fs-10 c-typo-fs-lg-16"><strong>News from ERA</strong></h6>
  </div>
  <div class="">
  </div>
  <div class="row">
              {%
                set _decoVariations = [
                  "deco1-l-t",
                  "deco1-r-t",
                  "deco1-r-b",
                  "deco1-l-b"
                ]
              %}

              {% for decoVariation in _decoVariations %}

                <div class="col-12 col-md-3 col-lg-3">
                  {{Card2.content(
                    {
                      "className": [],
                      "innerClassName": [],
                      "contentClassName": ["d-flex", "justify-content-between", "flex-column"],
                      "content": {
                        "category": "Report",
                        "title": "CKD-MBD Newsletter #23",
                        "date": "March 18, 2022",
                        "author": "CKD-MBD working group"
                      }
                    }
                  )}}

                </div>
                <!-- .col-* -->
              {% endfor %}

    </div>
  </div>
</div>
