<div class="p-box mb-6 mb-lg-7">
  <div class="border-bottom-box pb-6 pb-lg-8 position-relative">

    <div class="pb-6 pb-md-9">
      <div class="font-zaux2 zaux-theme--light2">
        <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">News from ERA</h6>
      </div>
    </div>

      <div class="mb-2 mb-lg-4">
            {{
              SliderCookbook.content({
              })
            }}
      </div>

  </div>
</div>
