@charset "UTF-8";

// Common weight name mapping
// The numerical values 100 to 900 roughly correspond to the following
// common weight names (see the OpenType specification):
//
// @see https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
// @see https://docs.microsoft.com/en-us/typography/opentype/spec/os2#usweightclass

// Value	Common weight name
// ------------------------------------------------------
// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal (Regular)
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)
// 950	Extra Black (Ultra Black)
// ------------------------------------------------------

[class^="icozaux1-"],
[class*=" icozaux1-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

[class^="-share"],
[class*="-share"] {
  display: inline-block;
  // width: 40px;
  // height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  @include media-breakpoint-down(lg) {
    width: 30px;
    height: 30px;
  }
}
.icozaux1-arrowL {
  width: 30px !important;
  height: 25px;
  fill: #f1f1f1

}
.icozaux1-arrowR {
  width: 30px;
  height: 25px;
  // fill: tokenColor("set1","red1");
}
.icozaux1-littlearrow {
 font-size: 14px;
}

.icozaux1-Print, .icozaux1-Download {
  width: 30px;
  height: 30px;
}

.icozaux1-videoplay {
  font-size: 100px;
 }

// .icozaux1-facebook, .icozaux1-twitter, .icozaux1-instagram, .icozaux1-youtube, .icozaux1-linkedin {
//   fill: tokenColor("set1","red1");
// }

// .icozaux1-twitter :hover {
//   color: tokenColor("set1","darkred");
// }

// .icozaux1-facebook:visited, .icozaux1-twitter:hover, .icozaux1-instagram:hover, .icozaux1-youtube:hover, .icozaux1-linkedin:hover {
//   fill: tokenColor("set1","darkred");
// }

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Bold.eot');
  src: url('../fonts/WorkSans/WorkSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/WorkSans/WorkSans-Bold.woff2') format('woff2'),
      url('../fonts/WorkSans/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans/WorkSans-Regular.eot');
  src: url('../fonts/WorkSans/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
      url('../fonts/WorkSans/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPt/FuturaPT-Bold.woff2') format('woff2'),
      url('../fonts/FuturaPt/FuturaPT-Bold.woff') format('woff'),
      url('../fonts/FuturaPt/FuturaPT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPt/FuturaPT-Book.woff2') format('woff2'),
      url('../fonts/FuturaPt/FuturaPT-Book.woff') format('woff'),
      url('../fonts/FuturaPt/FuturaPT-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPt/FuturaPT-BookObl.woff2') format('woff2'),
      url('../fonts/FuturaPt/FuturaPT-BookObl.woff') format('woff'),
      url('../fonts/FuturaPt/FuturaPT-BookObl.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('../fonts/FuturaPt/FuturaPT-Demi.woff2') format('woff2'),
      url('../fonts/FuturaPt/FuturaPT-Demi.woff') format('woff'),
      url('../fonts/FuturaPt/FuturaPT-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
