@import "../../assets/scss/components/base";

$component: componentClass("modale");

.#{$component} {

  &.modal-profile {
    @include media-breakpoint-up(lg) {
      background-color: #80808033;
    }
  }

    &--light {
      background-color: #D6D6D6;
      pointer-events: auto;
    }
    &--grey {
      background-color: #FFFEFE;
      pointer-events: auto;
      @include media-breakpoint-up(lg) {
      border-radius: 8px;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left:0;
        background: linear-gradient(to bottom, transparent 10%, #FFFFFF);
        height: 100px;
        width: 100%;
        @include media-breakpoint-up(lg) {
          border-radius: 8px;
          }
      }
    }

    &.modal-gallery {

        // background-color: #80808033;
        background-color: #808080CC;

      & .modal-dialog {
        & .#{$component}__inner {
          @include media-breakpoint-down(lg){
            background-color: #FFFFFF;
          }
        }
        & .#{$component}__contentgallery {
          // background-color: #FFFFFF;
          &--img {
            background-color: #FFFFFF;
          }
          &--data {
            background-color: #FFFFFF;
          }
        }
      }
    }
}
