{# Sets the layout to be extended #}
{% extends "layouts/lite.njk" %}

{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btnIcon.njk' as BtnIcon %}
{% import 'components/card1/card1_highlight.njk' as CardHighlight %}
{% import 'components/card1/card1_profile.njk' as CardProfile %}
{% import 'components/card1/card1_overview.njk' as CardOverview %}
{% import 'components/card1/card1_story.njk' as CardStory %}
{% import 'components/card1/card1_highlightbox.njk' as CardHighlightBox %}


{% set componentName = "Card Highlight" %}

{# Sets page-specific variables #}
{% set page = {
  "data": {},
  "title": componentName
} %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}
  <main class="pt-4">

    <div class="p-box g-3 g-lg-7">

      <div class="row mx-0 border-bottom mb-4">
        <div class="col-12 px-0">
          <h2 class="mb-3">
            {{componentName}}
          </h2>
        </div>
        <!-- .col-* -->
      </div>
      <!-- .row -->

    <div class="pb-5 pt-5">

      <div class="row gx-3 py-5 zaux-theme--dark1">

          {% set total = 6 %}
           {% set _htmlCardContent %}
          <div class="card1__head zaux-theme--dark1">
            <div class="card1__head--title pb-2">
              <h6 class="c-typo-fs-8 c-typo-fs-lg-10"><strong>Open Call: NDT Editor in Chief</strong></h6>
            </div>
            <div class="card1__head--abstract c-typo-style1-6 c-typo-style1-lg-8">
              <p>Submit your application by e-mail by January 31, 2022</p>
            </div>
          </div>

          {% endset %}
          {% set _htmlCardContent2 %}
          <div class="card1__head zaux-theme--dark1">
            <div class="card1__head--title font-zaux2 pb-2">
              <h6 class="fw-bold c-typo-fs-8 c-typo-fs-lg-10">59th ERA Congress: Paris & Virtual</h6>
            </div>
            <div class="card1__head--abstract c-typo-style1-6 c-typo-style1-lg-8">
              <p>The ERA 2022 Congress in Paris will take place from May 19 to 22, 2022 as a hybrid event, thus being both live and virtual, with speakers, chairs and delegates attending live and remotely</p>
            </div>
          </div>
          {% endset %}

              {%
                set _decoVariations = [
                 "deco1-l-t",
                  "deco1-r-t",
                  "deco1-l-t"
                ]
              %}

              {% for decoVariation in _decoVariations %}

                <div class="col-12 col-md-6 col-lg-4 mb-3">
               {{CardHighlight.content(
              {
                "className": ["h-100", "pb-6","c-card1--theme--light"],
                "innerClassName": ["h-100","mih-highlight"],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6","h-100"],
                "content": _htmlCardContent2,
                "ctaValue": "apply now",
                "img": {
                "isShaped": true,
                "className": ["rounded-2", "overflow-hidden","h-100"],
                "variations": ["style1", decoVariation],
                "img": {
                "isLazy": true,
                "src": "../media/HeroBen.png",
                "src2x": "../media/HeroBen.png",
                "width": 396,
                "height": 380,
                "alt": "Cover alternative text",
                "wrapperClassName": ["h-100"],
                "className": ["zaux-fit-cover-center-center", "w-100","h-100"]
                }
                }
              }
            )}}
                </div>
                <!-- .col-* -->
              {% endfor %}


              {% for decoVariation in _decoVariations %}

                <div class="col-12 col-md-6 col-lg-4 mb-3">
                {{CardHighlight.content(
              {
                "className": ["h-100", "pb-6","c-card1--theme--light"],
                "innerClassName": ["h-100","mih-highlight"],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6"],
                "content": _htmlCardContent,
                "ctaValue": "apply now",
                "img": {
                "isShaped": true,
                "className": ["rounded-2", "overflow-hidden","h-100"],
                "variations": ["style1", decoVariation],
                "img": {
                "isLazy": true,
                "src": "../../media/backCard1.png",
                "src2x": "../../media/backCard1.png",
                "width": 396,
                "height": 380,
                "alt": "Cover alternative text",
                "wrapperClassName": ["h-100"],
                "className": ["zaux-fit-cover-center-center", "w-100","h-100"]
                }
                }
              }
            )}}
                </div>
                <!-- .col-* -->
              {% endfor %}

        </div>
      </div>
      <!-- .row -->


<div class="pb-5 pt-5">
      <div class="row gx-3 py-5 zaux-theme--dark1">
         {%
                set _decoVariations = [
                  "deco1-l-t",
                  "deco1-r-t",
                  "deco1-l-t",
                  "deco1-r-t",
                  "deco1-l-t"
                ]
              %}

              {% for decoVariation in _decoVariations %}

                <div class="col-12 col-md-6 col-lg-4 mb-3">
                  {{CardHighlightBox.content(
              {
                "className": ["h-100", "pb-6","c-card1--theme--light"],
                "variations": ["lg-size1"],
                "innerClassName": ["h-100"],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6","h-100"],
                "content": {
                       "title": "59th ERA Congress: Paris & Virtual",
                       "abstract": "The ERA 2022 Congress in Paris will take place from May 19 to 22, 2022 as a hybrid event, thus being both live and virtual, with speakers, chairs and delegates attending live and remotely"
                      },
                "imgurl": "../media/backCard1.png",
                "ctaValue": "apply now"
              }
            )}}

                </div>
                <!-- .col-* -->
              {% endfor %}

               <div class="col-12 col-md-6 col-lg-4 mb-3">
                  {{CardHighlightBox.content(
              {
                "className": ["h-100", "pb-6","c-card1--theme--light"],
                "variations": ["lg-size1"],
                "innerClassName": ["h-100"],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6","h-100"],
                "content": {
                       "title": "59th ERA Congress: Paris & Virtual",
                       "abstract": "The ERA 2022 Congress in Paris will take place from May 19 to 22, 2022 as a hybrid event, thus being both live and virtual, with speakers, chairs and delegates attending live and remotely"
                      },
                "imgurl": "../media/HeroBen.png",
                "ctaValue": "apply now"
              }
            )}}

                </div>

            </div>
    </div>


    <div class="pb-5 pt-5">
      <div class="double-row py-5 zaux-theme--dark1">
         {%
                set _decoVariations = [
                  "deco1-l-t",
                  "deco1-r-t",
                  "deco1-l-t"
                ]
              %}

         {%
                set _decoVariations2 = [
                  "deco1-l-t",
                  "deco1-r-t",
                  "deco1-l-t"
                ]
              %}

              {% for decoVariation in _decoVariations %}

                <div class="col first-col mb-3">
                  {{CardHighlightBox.content(
              {
                "className": ["h-100", "pb-6","c-card1--theme--light"],
                "variations": ["lg-size1"],
                "innerClassName": ["h-100"],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6","h-100"],
                "content": {
                       "title": "59th ERA Congress: Paris & Virtual",
                       "abstract": "The ERA 2022 Congress in Paris will take place from May 19 to 22, 2022 as a hybrid event, thus being both live and virtual, with speakers, chairs and delegates attending live and remotely"
                      },
                "imgurl": "../media/backCard1.png",
                "ctaValue": "apply now"
              }
            )}}

                </div>
                <!-- .col-* -->
              {% endfor %}

               <div class="col-12 col-md-6 col-lg-4 mb-3">
                  {{CardHighlightBox.content(
              {
                "className": ["h-100", "pb-6","c-card1--theme--light"],
                "variations": ["lg-size1"],
                "innerClassName": ["h-100"],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6","h-100"],
                "content": {
                       "title": "59th ERA Congress: Paris & Virtual",
                       "abstract": "The ERA 2022 Congress in Paris will take place from May 19 to 22, 2022 as a hybrid event, thus being both live and virtual, with speakers, chairs and delegates attending live and remotely"
                      },
                "imgurl": "../media/HeroBen.png",
                "ctaValue": "apply now"
              }
            )}}

                </div>

            </div>
    </div>




    </div>
    <!-- .container-* -->

  </main>
{% endblock %}

{% block foot_js %}
  <script defer src="assets/js/general.bundle.js"></script>
{% endblock %}

