{# Sets the layout to be extended #}
{% extends "layouts/lite.njk" %}

{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btnIcon.njk' as BtnIcon %}
{% import 'components/card1/card1.njk' as Card1 %}
{% import 'components/card1/card1_profile.njk' as CardProfile %}
{% import 'components/card1/card1_overview.njk' as CardOverview %}


{% set componentName = "Card 1" %}

{# Sets page-specific variables #}
{% set page = {
  "data": {},
  "title": componentName + " - Components"
} %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}
  <main class="pt-4">

    <div class="container-l g-3 g-lg-7">

      <div class="row mx-0 border-bottom mb-4">
        <div class="col-12 px-0">
          <h2 class="mb-3">
            {{componentName}}
          </h2>
        </div>
        <!-- .col-* -->
      </div>
      <!-- .row -->

      <div class="row gx-3 py-5 zaux-theme--dark1">

          {% set total = 6 %}
           {% set _htmlCardContent %}
          <div class="card1__head zaux-theme--dark1">
            <div class="card1__head--title pb-2">
              <h6 class="c-typo-fs-8 c-typo-fs-lg-10"><strong>Open Call: NDT Editor in Chief</strong></h6>
            </div>
            <div class="card1__head--abstract c-typo-style1-6 c-typo-style1-lg-8">
              <p>Submit your application by e-mail by January 31, 2022</p>
            </div>
          </div>

          <div class="card1__button text-end">
            <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">APPLY NOW</a>
          </div>

          {% endset %}

              {%
                set _decoVariations = [
                  "deco1-l-t",
                  "deco1-r-t"
                ]
              %}

              {% for decoVariation in _decoVariations %}

                <div class="col-12 col-md-6 col-lg-4 mb-3">
                  {{Card1.content(
              {
                "className": ["h-100", "pb-6"],
                "variations": ["lg-size1"],
                "innerClassName": [],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6","zaux-bg-set1-darkgrey"],
                "content": _htmlCardContent,
                "img": {
                "isShaped": true,
                "className": ["rounded-2", "overflow-hidden"],
                "variations": ["style1", decoVariation],
                "img": {
                "isLazy": true,
                "src": "media/backCard1.png",
                "src2x": "media/backCard1.png",
                "width": 396,
                "height": 380,
                "alt": "Cover alternative text",
                "className": ["zaux-fit-cover-center-center", "w-100"]
                }
                }
              }
            )}}

                </div>
                <!-- .col-* -->
              {% endfor %}

            </div>
            <!-- .row -->
      <!-- .row -->

    </div>
    <!-- .container-* -->

    <div class="container-l g-3 g-lg-7 py-4">

      <div class="row gx-3">
          {% for decoVariation in _decoVariations %}
          <div class="col-12 col-lg-4 pb-2">
            {{CardProfile.content(
              {
              "className": [],
              "variations": [],
              "innerClassName": ["zaux-bg-set1-grey py-8"],
              "contentClassName": ["text-center"],
              "img": {
                "isLazy": true,
                "src": "media/Profile.png",
                "src2x": "media/Profile@2x.png",
                "width": 120,
                "height": 120,
                "alt": "Cover alternative text",
                "className": ["img-fluid"]
              },
              "nome": "Marc Vervloet",
              "ruolo": "Chair"
              }
            )}}
          </div>
      {% endfor %}
      </div>

    </div>

     <div class="container-l g-3 g-lg-7 py-4">

      <div class="row gx-3">
          {% for decoVariation in _decoVariations %}
          <div class="col-6 col-lg-3 pb-2">
            {{CardOverview.content(
              {
              "className": [],
              "variations": [],
              "innerClassName": [""],
              "contentClassName": ["text-center"],
              "img": {
                "isLazy": true,
                "src": "media/LogoOverview.png",
                "src2x": "media/LogoOverview@2x.png",
                "width": 200,
                "height": 90,
                "alt": "Cover alternative text",
                "className": ["img-fluid"]
              },
              "title": "CKD-MBD"
              }
            )}}
          </div>
      {% endfor %}
      </div>

    </div>

  </main>
{% endblock %}

{% block foot_js %}
  <script defer src="assets/js/general.bundle.js"></script>
{% endblock %}


{# {% set _htmlCardContent %}

              {{
                Icon.content({
                  "className": ["zaux-color-set1-cyan1", "c-typo-fs-18", "c-typo-fs-sm-20", "mb-2", "mb-md-4"],
                  "iconFamily": "icozaux1",
                  "iconName": "branches"
                })
              }}

              <h3 class="c-card1__title c-typo-fs-6 c-typo-fs-md-15 fw-bold mb-3 mb-md-6">
                Digital Transformation
              </h3>
              <!-- .c-card1__title -->

              {{ BtnIcon.content(
                {
                  "className": ["zaux-color-set1-white1"],
                  "iconFamily": "icozaux1",
                  "iconName": "arrow3"
                },
                {
                  "tag": "a",
                  "link": "#Card1Link",
                  "label": "Esplora",
                  "variations": ["style2", "ani-2", "px3"],
                  "className": ["d-none", "d-md-inline-block", "stretched-link"],
                  "innerClassName": ["d-flex", "justify-content-center", "align-items-center"],
                  "labelClassName": ["c-typo-fs-6", "fw-bold"]
                }
              )}}

              {% endset %} #}
