{# Sets the layout to be extended #}
{% extends "layouts/default.njk" %}

{# Imports components #}
{% import 'components/img/img.njk' as Img %}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btnIcon.njk' as BtnIcon %}
{% import 'components/card1/card1_recipe.njk' as CardRecipe %}
{% import 'components/slider/slider_cookbook.njk' as SliderCookbook %}
{% import 'components/card2/card2_news.njk' as Card2 %}
{% import 'components/boxcontent/boxcontent.njk' as BoxContent %}
{% import 'components/breadcrumbs/breadcrumbs.njk' as Breadcrumbs %}
{% import 'components/nav2/nav2.njk' as Nav2 %}
{% import 'components/form/form.njk' as Form %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_paris-home,
  "title": "Cookbook Recipe",
  "isHome": false
} %}

{% block head_css %}
  <link rel="stylesheet" href="assets/css/general.bundle.css">
{% endblock %}

{% block content %}

  <main>
     <!-- First box -->
      <div class="position-relative mb-0 mb-lg-4 pe-0">
        {# <div class="row gx-3 m-0">
          <div class="zaux-bg-set1-grey p-box rounded-bottom-100 col-12 col-lg-8 mih-boxtitle pt-3 pt-lg-6">
            <div class="pb-2 pb-lg-4">
              {{ Breadcrumbs.content() }}
            </div>
            <div class="font-zaux2 zaux-theme--light1 pb-2 pb-lg-4">
              <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Cookbook</h6>
            </div>
             <div class="c-typo-style1-3 c-typo-style1-lg-4 maw-f768px">
              <p>Healthy food for healthy kidneys</p>
            </div>
          </div>
          <div class="pe-box col-12 col-lg-4 d-flex align-items-center mih-boxtitle justify-content-center justify-content-lg-end">
            {{
                  Img.content({
                  "isLazy": false,
                  "src": "media/CookbookLogo.png",
                  "src2x": "media/CookbookLogo@2x.png",
                  "width": 340,
                  "height": 156,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": ["figure"],
                  "wrapperClassName": [""]
                  })
            }}
          </div>
        </div> #}
                <div class="zaux-pos-content row gx-3">
          <div class="zaux-bg-set1-grey p-box rounded-bottom-100 col-12 col-lg-7 mih-boxtitle pt-3 pt-lg-6">
            <div class="pb-2 pb-lg-4">
              {{ Breadcrumbs.content() }}
            </div>
             <div class="font-zaux2 zaux-theme--light1 pb-2 pb-lg-4">
              <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Cookbook</h6>
            </div>
             <div class="c-typo-style1-3 c-typo-style1-lg-4 maw-f768px">
              <p>Healthy food for healthy kidneys</p>
            </div>
          </div>
          <div class="pe-box col-12 col-lg-5 d-flex align-items-center mih-boxtitle justify-content-center justify-content-lg-end">
            {{
                  Img.content({
                  "isLazy": false,
                  "src": "media/CookbookLogo.png",
                  "src2x": "media/CookbookLogo@2x.png",
                  "width": 340,
                  "height": 156,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": ["figure"],
                  "wrapperClassName": [""]
                  })
            }}
          </div>
        </div>

        <div class="position-absolute" style="top:0; left:0; width:100%; z-index:-1;">
            <div class="d-flex">
              <div class="zaux-bg-set1-grey rounded-bottom-100 col-12 col-lg-7 mih-boxtitle">
              </div>
              <div class="col-lg-5 d-none d-lg-block">
              </div>
            </div>
          </div>
      </div>
      <!-- end First box -->

       {{ Nav2.content({
        "className": [""]
       })
       }}

      <div class="zaux-pos-content position-relative mih-575 mb-6">
        <div class="position-absolute zaux-zi--1 zaux-pos-custom1">
          {{
        Img.content({
          "isLazy": false,
          "src": "assets/img/Onda2.svg",
          "src2x": "assets/img/Onda2.svg",
          "width": 1733,
          "height": 575,
          "className": [""],
          "title": "title",
          "alt": "alt",
          "wrapperElement": "",
          "wrapperClassName": ""
        })
      }}
        </div>
        <div class="p-box pt-6 pt-lg-9 maw-f825 m-auto">
          <div class="c-typo-style1-4 c-typo-style1-lg-6 pb-2">
            <p>
              Many people also enjoy watching cooking programs and perhaps even cooking itself!</p><br>
            <p>As renal patients we have to try to maintain our body’s needs as well as our social ones, whilst navigating our, often complex, dietary restrictions.
              The way food tastes can also change with renal failure, so it is important to try food that you may have previously not liked.</p><br>
            <p>The truth is, a lot of dietary advice is negative, focusing on what we cannot have. It is also common to receive one size fits all advice. This means we often end up eating bland and uninteresting
              food because we are not sure what is allowed and this leaves many of us feeling awkward whilst eating away from home.</p><br>
            <p>This project aims to bring some great tasting food back to the renal diet, with the help of everyone in the renal community. Just because we have restrictions this does not mean that we always
              have to compromise on the variety and quantity of tasty food that we want.</p>
          </div>
          <div class="c-typo-style1-3">
            <p><strong>William Withers</strong></p>
            <p><i>Lifelong Renal Patient and on dialysis since 1992</i></p>
          </div>
        </div>
      </div>

      <div class="zaux-pos-content p-box pb-6 pb-lg-9">
            {{
            Form.content({
              "searchfilter": "y",
              "className": ""
            })
           }}
      </div>

      <!-- All recipe -->
      <div class="zaux-pos-content p-box">

        <!-- New recipe -->
        <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">New Recipes</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook1.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="swiper-button-prev"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="swiper-button-next">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End New recipe -->

      <!-- Most Voted -->
       <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Most Voted</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook2.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="popular-swiper-button-prev"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="popular-swiper-button-next">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End Most Voted -->


        <!-- Recipes of the day -->
       <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Recipes of the day</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook3.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="swiper-button-prev2"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="swiper-button-next2">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End Recipes of the day -->


      <!-- Suggested for you -->
       <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Suggested for you</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook4.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="swiper-button-prev3"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="swiper-button-next3">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End Suggested for you -->


      <!-- Quick and easy -->
       <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Quick and easy</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook5.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="swiper-button-prev4"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="swiper-button-next4">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End Quick and easy -->


     <!-- Starters -->
       <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Starters</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook6.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="swiper-button-prev5"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="swiper-button-next5">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End Starters -->


      <!-- First courses -->
       <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">First courses</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook7.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="swiper-button-prev6"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="swiper-button-next6">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End First courses -->


       <!-- Second courses -->
       <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Second courses</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook8.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="swiper-button-prev7"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="swiper-button-next7">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End Second courses -->


      <!-- Dessert -->
       <div class="mb-7 mb-lg-10">
          <div class="position-relative">

              <div class="font-zaux2 zaux-theme--light2 pb-4 pb-md-7">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Dessert</h6>
              </div>

            <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderCook9.config | dump | safe}}' data-js-component="Slider">
                  <div class="c-slider__wrapper">
                    <div class="c-slider__instance swiper swiper-container d-flex flex-column h-100">

                      <div class="swiper-wrapper">
                          {%
                                  set _decoVariations = [
                                    "deco1-l-t",
                                    "deco1-r-t",
                                    "deco1-r-b",
                                    "deco1-l-b",
                                    "deco1-l-b"
                                  ]
                                %}

                                {% for decoVariation in _decoVariations %}

                                  <div class="swiper-slide">

                                    {{CardRecipe.content(
                                              {
                                                "className": ["h-100"],
                                                "innerClassName": ["zaux-bg-set1-grey h-100 shadow-2"],
                                                "contentClassName": ["h-100","position-relative","mih-recipe"],
                                                "img": {
                                                  "isLazy": true,
                                                  "src": "media/Recipe.png",
                                                  "src2x": "media/Recipe@2x.png",
                                                  "width": 368,
                                                  "height": 207,
                                                  "alt": "Cover alternative text",
                                                  "className": ["img-fluid","w-100"]
                                                },
                                                "name": "Vegetable croquettes",
                                                "nation": "Italy",
                                                "time": "Easy, 40 minutes"
                                              }
                                            )}}

                                  </div>
                                  <!-- .col-* -->
                                {% endfor %}
                        </div>
                    </div>
                    <!-- .c-slider__instance -->
                  </div>
                  <!-- .c-slider__wrapper -->
                  <div class="swiper-navigation">
                        <div class="swiper-button-prev8"> {{
                                    Icon.content({
                                      "className": "",
                                      "iconName": "icozaux1-arrowL",
                                      "iconSvgUrl": app.fonts.icozaux1.url
                                      })
                                    }}
                        </div>
                        <div class="swiper-button-next8">
                          {{
                              Icon.content({
                                "className": "",
                                "iconName": "icozaux1-arrowR",
                                "iconSvgUrl": app.fonts.icozaux1.url
                              })
                          }}
                        </div>
                  </div>
                </div>

          </div>
        </div>
        <!-- End Dessert -->

      </div>
      <!-- End All recipe -->

  </main>

{% endblock %}

{% block foot_js %}
  <script defer src="assets/js/general.bundle.js"></script>
{% endblock %}
