{# Sets the layout to be extended #}
{% extends "layouts/default.njk" %}

{# Imports components #}
{% import 'components/img/img.njk' as Img %}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btnIcon.njk' as BtnIcon %}
{% import 'components/card1/card1_highlight.njk' as CardHighlight %}
{% import 'components/card2/card2_news.njk' as Card2 %}
{% import 'components/boxcontent/boxcontent.njk' as BoxContent %}
{% import 'components/form/form.njk' as Form %}
{% import 'components/twitter/twitter.njk' as Twitter %}
{% import 'components/slider/slider_news.njk' as Slider %}


{# Sets page-specific variables #}
{% set page = {
  "data": page_home,
  "title": "Home",
  "isHome": true
} %}

{% block head_css %}
  <link rel="stylesheet" href="assets/css/general.bundle.css">
{% endblock %}

{% block content %}

  <main>

    {# {{ HeroVideo.content(page.data.blocks.videoHero1) }} #}

     <div class="zaux-bg-set1-grey position-relative">
        <div class="position-absolute w-lg-40 end-0">
           {{
        Img.content({
          "isLazy": false,
          "src": "media/Homebox.png",
          "src2x": "media/Homebox.png",
          "width": 573,
          "height": 375,
          "className": ["img-fluid","w-size-200"],
          "title": "title",
          "alt": "alt",
          "wrapperElement": "",
          "wrapperClassName": ""
        })
      }}
        </div>
        <div class="p-box pb-4 pt-9 py-lg-8">
          <div class="zaux-theme--light1 font-zaux2 pb-5 maw-size-custom1">
            <h6 class="fw-demi c-typo-fs-8 c-typo-fs-lg-13">Leading European Nephrology</h6>
          </div>
          <div class="maw-f550 c-typo-style1-4">
            <p>A Europe where kidney health is prioritised, kidney care is accessible, the kidney community is thriving.</p>
          </div>
        </div>
      </div>

      <div class="pb-7 pb-lg-16">
      <div class="zaux-bg-set1-white p-box zaux-theme--light2">
        <div class="font-zaux2 pb-4 pt-6 pb-lg-9 pt-lg-11">
          <h6 class="fw-demi  c-typo-fs-10 c-typo-fs-lg-16">What we do</h6>
        </div>

        <!-- start row -->
        <div class="row gx-3">
           {% set total = 5 %}
           {% set _htmlCardContent %}
          <div class="card1__head zaux-theme--dark1">
            <div class="card1__head--title font-zaux2 pb-2">
              <h6 class="fw-bold c-typo-fs-8 c-typo-fs-lg-10">Open Call: NDT Editor in Chief</h6>
            </div>
            <div class="card1__head--abstract c-typo-style1-6 c-typo-style1-lg-8">
              <p>Submit your application by e-mail by January 31, 2022</p>
            </div>
          </div>
          {% endset %}
          {% set _htmlCardContent2 %}
          <div class="card1__head zaux-theme--dark1">
            <div class="card1__head--title font-zaux2 pb-2">
              <h6 class="fw-bold c-typo-fs-8 c-typo-fs-lg-10">59th ERA Congress: Paris & Virtual</h6>
            </div>
            <div class="card1__head--abstract c-typo-style1-6 c-typo-style1-lg-8">
              <p>The ERA 2022 Congress in Paris will take place from May 19 to 22, 2022 as a hybrid event, thus being both live and virtual, with speakers, chairs and delegates attending live and remotely</p>
            </div>
          </div>
          {% endset %}
           {# "c-ratio--square", "c-ratio--md-none" #}
          {% for i in range(0, total) %}
          <div class="col-12 col-md-6 col-lg-4">
            {{CardHighlight.content(
              {
                "className": ["h-100", "pb-6","c-card1--theme--light"],
                "variations": ["lg-size1"],
                "innerClassName": ["h-100"],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6"],
                "content": _htmlCardContent,
                "ctaValue": "apply now",
                "img": {
                "isShaped": true,
                "className": ["rounded-2", "overflow-hidden"],
                "variations": ["style1", decoVariation],
                "img": {
                "isLazy": true,
                "src": "media/backCard1.png",
                "src2x": "media/backCard1.png",
                "width": 396,
                "height": 380,
                "alt": "Cover alternative text",
                "className": ["zaux-fit-cover-center-center", "w-100"]
                }
                }
              }
            )}}
          </div>
          {% endfor %}
           <div class="col-12 col-md-6 col-lg-4">
            {{CardHighlight.content(
              {
                "className": ["h-100", "pb-6","c-card1--theme--light"],
                "variations": ["lg-size1"],
                "innerClassName": ["h-100"],
                "contentClassName": ["d-flex", "justify-content-between", "flex-column", "p-6"],
                "content": _htmlCardContent2,
                "ctaValue": "apply now",
                "img": {
                "isShaped": true,
                "className": ["rounded-2", "overflow-hidden"],
                "variations": ["style1", decoVariation],
                "img": {
                "isLazy": true,
                "src": "media/backCard1.png",
                "src2x": "media/backCard1.png",
                "width": 396,
                "height": 380,
                "alt": "Cover alternative text",
                "className": ["zaux-fit-cover-center-center", "w-100"]
                }
                }
              }
            )}}
          </div>
        </div>
      <!-- end row -->

      </div>
    </div>

  <div class="">
    <div class="zaux-bg-set1-grey p-box">
      <div class="font-zaux2 py-6 zaux-theme--light2 text-center">
        <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16 mb-3">Latest Tweets</h6>
      </div>
      <div class="pb-6 pb-md-9 m-auto position-relative p-6">
        {# <div class="d-flex align-items-center justify-content-center position-relative"> #}

          <div class="c-slider h-100"  data-config='{{component_slider.demo.sliderTwitter.config | dump | safe}}' data-js-component="Slider">
            <div class="c-slider__wrapper">
              <div class="c-slider__instance mih-twitter swiper swiper-container d-flex flex-column h-100 justify-content-center text-center">
                <div class="swiper-wrapper">

                  <div class="swiper-slide ">
                    {# d-none d-lg-block position-absolute zaux-pos-twitter1
                    w:274 h:287#}
                     {{Twitter.content(
                      {
                        "className": ["h-100","c-card1--theme--light","zaux-bg-default-white"],
                        "innerClassName": [],
                        "contentClassName": []
                      }
                    )}}
                  </div>
                  <div class="swiper-slide">
                    {# zaux-zi-1 position relative
                    w:396 h:415 #}
                    {{Twitter.content(
                      {
                        "className": ["h-100","c-card1--theme--light","zaux-bg-default-white"],
                        "innerClassName": [],
                        "contentClassName": []
                      }
                    )}}
                  </div>
                  <div class="swiper-slide">
                    {# d-none d-lg-block position-absolute zaux-pos-twitter2 #}
                       {{Twitter.content(
                      {
                        "className": ["h-100","c-card1--theme--light","zaux-bg-default-white"],
                        "innerClassName": [],
                        "contentClassName": []
                      }
                    )}}
                  </div>
                </div>
              </div>
            </div>
           <div class="swiper-navigation">
        <div class="twitter-swiper-button-prev"> {{
                    Icon.content({
                      "className": "",
                      "iconName": "icozaux1-arrowL",
                      "iconSvgUrl": app.fonts.icozaux1.url
                      })
                    }}
        </div>
        <div class="twitter-swiper-button-next">
          {{
              Icon.content({
                "className": "",
                "iconName": "icozaux1-arrowR",
                "iconSvgUrl": app.fonts.icozaux1.url
              })
          }}
        </div>
      </div>

          </div>

        </div>
    </div>
  </div>

  <div class="zaux-bg-set1-darkgrey2 p-box">
    <div class="pt-7 pb-12 zaux-theme--dark1 text-center">
      <div class="pb-2 pb-lg-6">
        {{
        Img.content({
          "isLazy": false,
          "src": "media/newsletter.png",
          "src2x": "media/newsletter@2x.png",
          "width": 54,
          "height": 37,
          "className": "",
          "title": "title",
          "alt": "alt",
          "wrapperElement": "",
          "wrapperClassName": ""
        })
      }}
      </div>
      <div class="font-zaux2 pb-5">
        <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Join our newsletter</h6>
      </div>
      <div class="c-typo-style1-8 maw-f825 m-auto pb-7 pb-lg-8">
       <p>Nephrology News Flash is the official ERA e-newsletter. It is circulated bi-weekly and serve the nephrological community by publishing ERA‘s initiatives,
        reporting on ongoing activities and sharing new hot papers from ERA Journals. </p>
      </div>
      {{
        Form.content({
          "newsletter": "y",
          "className": ""
          })
      }}

    </div>
   </div>

   <div class="mb-9 position-relative mih-560 overflow-hidden">
    <div class="position-absolute zaux-zi--1 zaux-pos-custom1">
       {{
        Img.content({
          "isLazy": false,
          "src": "assets/img/CombinedShape.svg",
          "src2x": "assets/img/CombinedShape.svg",
          "width": 1440,
          "height": 562,
          "className": [""],
          "title": "title",
          "alt": "alt",
          "wrapperElement": "",
          "wrapperClassName": ""
        })
      }}
    </div>
    <div class="p-box">
      <div class="font-zaux2 py-6 zaux-theme--light2 text-center">
        <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16 mb-3">Our Pillars</h6>
      </div>
      <div class="row pb-lg-9">
        <div class="col-12 col-lg-4 pb-7 pb-lg-0">
          <div class="pillars-t1 font-zaux2 text-center pb-2 pb-lg-4">
             <h6 class="fw-demi c-typo-fs-8 c-typo-fs-lg-13 mb-3"><a class="zaux-color-set1-green1" href="#">EDUCATION</a></h6>
          </div>
          <div class="c-typo-style1-6 c-typo-style1-lg-8 text-center">
           <p> We deliver excellent education for all nephrologists to apply in their daily practice. </p>
          </div>
        </div>
         <div class="col-12 col-lg-4 pb-7 pb-lg-0">
           <div class="pillars-t2 font-zaux2 text-center pb-2 pb-lg-4">
             <h6 class="fw-demi c-typo-fs-8 c-typo-fs-lg-13 mb-3"><a class="zaux-color-set1-yellow1" href="#">SCIENCE</a></h6>
          </div>
          <div class="c-typo-style1-6 c-typo-style1-lg-8 text-center">
          <p>  We are committed to support and to spread top quality scientific knowledge. </p>
          </div>
        </div>
         <div class="col-12 col-lg-4 pb-7 pb-lg-0">
           <div class="pillars-t3 font-zaux2 text-center pb-2 pb-lg-4">
             <h6 class="fw-demi c-typo-fs-8 c-typo-fs-lg-13 mb-3"><a href="#" class="zaux-color-set1-blue1">NETWORKING</a></h6>
          </div>
          <div class="c-typo-style1-6 c-typo-style1-lg-8 text-center">
            <p>We work to facilitate professional networking and free participation.</p>
          </div>
        </div>
      </div>
      <div class="text-center">
         <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover membership benefits</a>
      </div>
    </div>
  </div>

  {% include "partials/ui/swiper_news.njk" %}

  {% include "partials/ui/mostpopular.njk" %}


  <div class="p-box pb-8">
    <div class="zaux-theme--light2 pb-6 pb-md-9">
      <h6 class="c-typo-fs-10 c-typo-fs-lg-16"><strong>Latest Webcast</strong></h6>
    </div>
    <div class="row">

                <div class="col-12">
                  {{BoxContent.content(
                    {
                      "className": ["mb-6","pb-6","pb-lg-8","border-bottom-box"],
                      "innerClassName": ["row"],
                      "contentClassName": ["col-12", "col-lg-8","pe-4"],
                      "content": {
                        "title": "5th European Renal Osteodystrophy (EUROD) Winter Meeting",
                        "category": "Report",
                        "date": "March 18, 2022"
                      },
                        "img": {
                          "isLazy": true,
                          "src": "media/ProvaContent.png",
                          "src2x": "media/ProvaContent@2x.png",
                          "width": 396,
                          "height": 223,
                          "alt": "Cover alternative text",
                          "className": ["img-fluid"]
                        },
                      "webcast" : {
                         "author": ["Francesca Mallamaci"],
                         "pannelist": ["Carmine Zoccali, Italy", "Mehmet Kanbay, Turkey"],
                         "moderators": ["Will Herrington, United Kingdom", "Maria Josè Soler, Spain"]
                      }

                    }
                  )}}

                </div>
                <div class="col-12">
                  {{BoxContent.content(
                    {
                      "className": ["pb-6","pb-lg-8"],
                      "innerClassName": ["row"],
                      "contentClassName": ["col-12", "col-lg-8","pe-4"],
                      "content": {
                        "title": "5th European Renal Osteodystrophy (EUROD) Winter Meeting",
                        "category": "Report",
                        "date": "March 18, 2022"
                      },
                        "img": {
                          "isLazy": true,
                          "src": "media/ProvaContent.png",
                          "src2x": "media/ProvaContent@2x.png",
                          "width": 396,
                          "height": 223,
                          "alt": "Cover alternative text",
                          "className": ["img-fluid"]
                        },
                      "webcast" : {
                         "author": ["Francesca Mallamaci"],
                         "pannelist": ["Carmine Zoccali, Italy", "Mehmet Kanbay, Turkey"],
                         "moderators": ["Will Herrington, United Kingdom", "Maria Josè Soler, Spain"]
                      }

                    }
                  )}}

                </div>
    </div>
  </div>


  </main>

{% endblock %}

{% block foot_js %}
  <script defer src="assets/js/general.bundle.js"></script>
{% endblock %}
