{# Sets the layout to be extended #}
{% extends "layouts/default.njk" %}

{# Imports components #}
{% import 'components/img/img.njk' as Img %}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btnIcon.njk' as BtnIcon %}
{% import 'components/card1/card1_highlight.njk' as CardHighlight %}
{% import 'components/card2/card2_news.njk' as Card2 %}
{% import 'components/boxcontent/boxcontent.njk' as BoxContent %}
{% import 'components/breadcrumbs/breadcrumbs.njk' as Breadcrumbs %}
{% import 'components/nav2/nav2.njk' as Nav2 %}
{% import 'components/herovideo/herovideo.njk' as HeroVideo %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_paris-home,
  "title": "Paris Congress",
  "isHome": false
} %}

{% block head_css %}
  <link rel="stylesheet" href="assets/css/general.bundle.css">
{% endblock %}

{% block content %}

  <main>
     <!-- First box -->
        {# <div class="row gx-3 m-0">
          <div class="zaux-bg-set1-grey p-box rounded-bottom-100 col-12 col-lg-8 mih-boxtitle pt-3 pt-lg-6">

            <div class="pb-2 pb-lg-4">
              {{ Breadcrumbs.content() }}
            </div>

            <div class="font-zaux2 zaux-theme--light1 pb-2 pb-lg-4">
              <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Paris Congress 2022</h6>
            </div>
             <div class="c-typo-style1-3 c-typo-style1-lg-4 maw-f768px">
              <p>ERA organizes the largest annual Nephrology Congress in Europe, welcoming thousands of attendees coming from all over the world,
                focusing on key learning features both in the clinical field as well as the scientific and latest innovations.</p>
            </div>
          </div>
          <div class="pe-box col-12 col-lg-4 d-flex align-items-center mih-boxtitle justify-content-center justify-content-lg-end">
            {{
                  Img.content({
                  "isLazy": false,
                  "src": "media/ParisLogo.png",
                  "src2x": "media/ParisLogo@2x.png",
                  "width": 300,
                  "height": 51,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": ["figure"],
                  "wrapperClassName": [""]
                  })
            }}
          </div>
        </div> #}
      <div class="position-relative mb-0 mb-lg-4">
        <div class="zaux-pos-content zaux-pos-herobox">
          <div class="hcol-1 zaux-bg-set1-grey p-box rounded-bottom-100 mih-boxtitle pt-3 pt-lg-6">
            <div class="pb-2 pb-lg-4">
              {{ Breadcrumbs.content() }}
            </div>
            <div class="font-zaux2 zaux-theme--light1 pb-2 pb-lg-4">
              <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Paris Congress 2022</h6>
            </div>
             <div class="c-typo-style1-3 c-typo-style1-lg-4 maw-f768 pe-lg-0 pe-2 pb-lg-0 pb-2">
              <p>ERA organizes the largest annual Nephrology Congress in Europe, welcoming thousands of attendees coming from all over the world,
                focusing on key learning features both in the clinical field as well as the scientific and latest innovations.</p>
            </div>
          </div>
          <div class="hcol-2 pe-box d-flex align-items-center mih-boxtitle justify-content-center justify-content-lg-end">
            {{
                  Img.content({
                  "isLazy": false,
                  "src": "media/ParisLogo.png",
                  "src2x": "media/ParisLogo@2x.png",
                  "width": 300,
                  "height": 51,
                  "className": ["img-fluid"],
                  "title": "title",
                  "alt": "alt",
                  "wrapperElement": ["figure"],
                  "wrapperClassName": [""]
                  })
            }}
          </div>
        </div>

        <div class="position-absolute" style="top:0; left:0; width:100%; z-index:-1;">
            <div class="d-flex">
              <div class="zaux-bg-set1-grey rounded-bottom-100 col-12 col-lg-7 mih-boxtitle">
              </div>
              <div class="col-lg-5 d-none d-lg-block">
              </div>
            </div>
          </div>

      </div>
      <!-- end First box -->

       {{ Nav2.content({
        "className": [""],
        "parisCongress": "y"
       })
       }}

       <!-- missing time box -->
      <div class="zaux-bg-set1-grey mb-6 mb-lg-7">
        <div class="p-box zaux-pos-content pb-11 pt-6 pb-lg-8 pt-lg-8">

          <div class="row m-0">
            <div class="col-12 col-md-6 pb-8 pb-lg-0">
             <div class="font-zaux2 zaux-theme--light2 pb-3 pb-lg-4 maw-f768">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Registration is open</h6>
              </div>
              <div class="c-typo-style1-3 c-typo-style1-lg-4 pb-6 pb-lg-9 maw-f550">
                <p>ERA organizes the largest annual Nephrology Congress in Europe, welcoming thousands of attendees coming from all over the world, focusing on key
                   learning features both in the clinical field as well as the scientific and latest innovations.</p><br>
                <p>The 59th ERA Congress will take place on May 19-22, 2022, both virtual and live in Paris.</p>
              </div>
              <div class="text-center text-lg-start">
                <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Register today</a>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <!-- Set the date end of countdown -->
              <span class="countdown-date visually-hidden">March 22, 2023 12:00 am</span>

              <div class="row gx-3 align-items-center h-100">
                <div class="col-4">
                  <div class="zaux-bg-default-white rounded-2 pt-5 pt-lg-9 pb-2 zaux-size-timebox">
                    <div class="font-zaux2 text-center pb-lg-4 pt-lg-2 fw-demi c-typo-style1-13 c-typo-style1-lg-20">
                      <p class="countdown-d"></p>
                    </div>
                    <div class="text-center c-typo-style1-3 c-typo-style1-lg-8">
                      <p>days</p>
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <div class="zaux-bg-default-white rounded-2 pt-5 pt-lg-9 pb-2 zaux-size-timebox">
                    <div class="font-zaux2 text-center pb-lg-4 pt-lg-2 fw-demi c-typo-style1-13 c-typo-style1-lg-20">
                      <p class="countdown-h"></p>
                    </div>
                    <div class="text-center c-typo-style1-3 c-typo-style1-lg-8">
                      <p>hours</p>
                    </div>
                  </div>
                </div>

               <div class="col-4">
                  <div class="zaux-bg-default-white rounded-2 pt-5 pt-lg-9 pb-2 zaux-size-timebox">
                    <div class="font-zaux2 text-center pb-lg-4 pt-lg-2 fw-demi c-typo-style1-13 c-typo-style1-lg-20">
                      <p class="countdown-m"></p>
                    </div>
                    <div class="text-center c-typo-style1-3 c-typo-style1-lg-8">
                      <p>minutes</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
       <!-- End missing time box -->

      <div class="zaux-pos-content p-box mb-6 mb-lg-10">
        <div class="row gx-3">
          <div class="col-12 col-lg-6 pb-7 pb-lg-0 mb-4 mb-lg-0 border-bottom-box border-bottom-lg-none">
              <div class="font-zaux2 zaux-theme--light1 pb-4 pb-lg-5 maw-f768">
                  <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Important dates for abstract submission</h6>
              </div>
              <div class="c-typo-style1-6 c-typo-style1-lg-8 pb-4 pb-lg-6">
                <ul class="list-unstyled ps-0">
                  <li>Abstract Submissions Reopen:<br><strong>March 15, 2022, 12 p.m. EDT </strong></li>
                  <li>Abstract Submissions Reopen:<br><strong>March 15, 2022, 12 p.m. EDT </strong></li>
                  <li>Abstract Submissions Reopen:<br><strong>March 15, 2022, 12 p.m. EDT </strong></li>
                  <li>Abstract Submissions Reopen:<br><strong>March 15, 2022, 12 p.m. EDT </strong></li>
                </ul>
              </div>
              <div class="">
                 <a class="c-cta1 c-cta1--txt c-cta1--onlyred" href="#" title="button title">
                  <span class="pe-3">Submit your abstract</span>
                   {{
                    Icon.content({
                      "className": ["align-txt-bottom"],
                      "iconName": "icozaux1-littlearrow",
                      "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}
                  </a>
              </div>
          </div>

          <div class="col-12 col-lg-6 pb-8 pb-lg-0">
              <div class="font-zaux2 zaux-theme--light1 pb-4 pb-lg-5 maw-f768">
                  <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Innovation, Prevention, Preparedness</h6>
              </div>
              <div class="c-typo-style1-4 c-typo-style1-lg-8 pb-4 pb-lg-6">
                <p>The Congress programme is now online and guarantees, both live and virtual, top-quality presentations, and a close interaction with the attendees.</p>
              </div>
              <div class="zaux-theme--light2">
                <a class="c-cta1 c-cta1--txt c-cta1--onlyred" href="#" title="button title">
                  <span class="pe-3">Scienitfic programme</span>
                  {{
                    Icon.content({
                      "className": ["align-txt-bottom"],
                      "iconName": "icozaux1-littlearrow",
                      "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}
                  </a>
              </div>
          </div>

        </div>
        <!-- end row -->
      </div>


      <div class="mb-lg-8 mb-5 zaux-bg-set1-grey mih-380">
        <div class="row gx-3 m-0">
           <div class="col-12 col-lg-6 p-0">
            {{
            Img.content({
              "isLazy": false,
              "src": "media/Homebox2.png",
              "src2x": "media/Homebox2.png",
              "width": 573,
              "height": 375,
              "className": ["img-fluid","float-start"],
              "title": "title",
              "alt": "alt",
              "wrapperElement": "",
              "wrapperClassName": ""
            })
            }}
          </div>
          <div class="mb-lg-0 mb-7 col-12 col-lg-6 py-3 py-lg-9">
            <div class=" h-100 maw-f625">
              <div class="font-zaux2 zaux-theme--light1 pb-2 pb-lg-4">
                <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Subscribe to ERA for exclusive discounts!</h6>
              </div>
              <div class="pb-4 c-typo-style1-3 c-typo-style1-lg-4 maw-f768">
                <p>Choose your membership category from Free to EUR 170 and enjoy all benefits!</p>
              </div>
              <div class="text-center text-lg-start">
                <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover all benefits</a>
              </div>
            </div>
          </div>

        </div>
      </div>



      <div class="zaux-pos-content p-box mb-10 mb-0 mb-lg-12">
        <div class="row gx-3">
          <div class="col-12 col-lg-6 pb-8 pb-lg-0">
              <div class="font-zaux2 zaux-theme--light1 pb-3 pb-lg-4 maw-f768">
                  <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Health is our priority</h6>
              </div>
              <div class="c-typo-style1-6 c-typo-style1-lg-8 pb-6 maw-f550">
                <p>As from 14 March 2022, rules requiring the presentation of a vaccine pass will be suspended in France.
                    If you wish to attend the ERA Congress live in Paris, we suggest you to remain updated on the health measures
                    in France and to read the following key information from the French government (updated daily):</p>
                <ul class="">
                  <li>Procedure for non-European nationals to obtain a valid 	Covid certificate in France</li>
                  <li>Travel rules and measures whether you wish to enter	or exit France</li>
                  <li>Isolation, testing, attending events – What are the rules in France?</li>
                </ul>
              </div>
              <div class="text-center text-lg-start">
                <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Discover Covid-19 measures</a>
              </div>
          </div>

          <div class="col-12 col-lg-6">
              <div class="font-zaux2 zaux-theme--light1 pb-3 pb-lg-4 maw-f768">
                  <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Innovation, Prevention, Preparedness</h6>
              </div>
              <div class="c-typo-style1-4 c-typo-style1-lg-8 pb-5 pb-lg-0">
                <p>The official hashtag of the 59th ERA Congress is #ERA22</p>
                <p>Please use it in all tweets or posts related to the 59th ERA Congress.</p>
                <p>Follow ERA on Social Media and read all the official information about the 59th ERA Congress.</p>
                <p>Our Social Media profile links are:</p>
              </div>
              <div class="c-typo-style1-10 maw-size-custom2 zaux-theme--light2">
                  <ul class="list-unstyled ps-0 d-flex justify-content-between">
                  <li><a href="#" title="Twitter">
                    {{
                        Icon.content({
                          "className": "",
                          "iconName": "icozaux1-twitter",
                          "iconSvgUrl": app.fonts.icozaux1.url
                        })
                      }}
                  </a></li>

                 <li> <a href="#" title="Instagram">
                    {{
                        Icon.content({
                          "className": "",
                          "iconName": "icozaux1-instagram",
                          "iconSvgUrl": app.fonts.icozaux1.url
                        })
                      }}
                  </a></li>
                  <li><a href="#" title="Facebook">
                    {{
                        Icon.content({
                          "className": "",
                          "iconName": "icozaux1-facebook",
                          "iconSvgUrl": app.fonts.icozaux1.url
                        })
                      }}
                  </a></li>
                  <li><a href="#" title="Linkedin">
                    {{
                        Icon.content({
                          "className": "",
                          "iconName": "icozaux1-linkedin",
                          "iconSvgUrl": app.fonts.icozaux1.url
                        })
                      }}
                  </a></li>
                  <li><a href="#" title="YouTube">
                    {{
                        Icon.content({
                          "className": "",
                          "iconName": "icozaux1-youtube",
                          "iconSvgUrl": app.fonts.icozaux1.url
                        })
                      }}
                  </a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>

      <div class="zaux-pos-content mb-0 mb-lg-6 position-relative mih-625 overflow-hidden">
       <div class="position-absolute zaux-zi--1 zaux-pos-custom2">
        {{
          Img.content({
            "isLazy": false,
            "src": "assets/img/CombinedShape.svg",
            "src2x": "assets/img/CombinedShape.svg",
            "width": 1440,
            "height": 595,
            "className": [""],
            "title": "title",
            "alt": "alt",
            "wrapperElement": "",
            "wrapperClassName": ""
          })
        }}
      </div>
      <div class="p-box position-relative mb-0 mb-lg-6">
        <div class="font-zaux2 zaux-theme--light2 text-center pb-6 pb-lg-7">
          <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Watch the presentation video</h6>
        </div>
        <div class="">
            {{ HeroVideo.content(component_herovideo.blocks.videoHero2) }}
            {# <div class="c-video m-auto maw-f640">
              <div class="c-ratio--wide position-relative">
                <iframe class="c-video--iframe top-0 start-0 bottom-0 position-absolute w-100 h-100" width="640" height="360" src="https://www.youtube.com/embed/A7seHLMkg5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div> #}
          </div>
      </div>
    </div>


    <div class="p-box text-center mb-10 mb-lg-12">
        <div class="font-zaux2 zaux-theme--light2 text-center pb-6 pb-lg-7">
          <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Road to Milan 2023</h6>
        </div>
        <div class="c-typo-style1-6 c-typo-style1-lg-8 pb-6 maw-f550 m-auto">
          <p>The 60th edition of ERA's congress will take place in the city of MIlan.</p>
        </div>
        <div class="text-center">
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">Subscribe to receive news</a>
        </div>




    </div>


  </main>

{% endblock %}

{% block foot_js %}
  <script defer src="assets/js/general.bundle.js"></script>
{% endblock %}
