{# Sets the layout to be extended #}
{% extends "layouts/default.njk" %}

{# Imports components #}
{% import 'components/img/img.njk' as Img %}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btnIcon.njk' as BtnIcon %}
{% import 'components/card1/card1.njk' as Card1 %}
{% import 'components/card2/card2_news.njk' as Card2 %}
{% import 'components/card2/card2_related.njk' as CardRelated %}
{% import 'components/breadcrumbs/breadcrumbs.njk' as Breadcrumbs %}
{% import 'components/accordion/accordion.njk' as Accordion %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_page_single_guidelines,
  "title": "Page Single Guidelines",
  "isHome": false
} %}

{% block head_css %}
  <link rel="stylesheet" href="assets/css/general.bundle.css">
{% endblock %}

{% block content %}

  <main>
      <!-- First box -->
      <div class="mb-4 mb-lg-5">
        <div class="row m-0">
          <div class="zaux-bg-set1-grey p-box rounded-bottom-100  col-12 col-lg-8 mih-boxtitle pt-3 pt-lg-6">
            <div class="pb-2 pb-lg-4">
              {{ Breadcrumbs.content() }}
            </div>
            <div class="font-zaux2 zaux-theme--light1 pb-2 pb-lg-4 maw-f768px">
              <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-13">Chronic Kidney Disease & Diabetes guideline</h6>
            </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block">
          </div>
        </div>
      </div>
      <!-- end First box -->

      <!-- Testo Scope Guidelines-->
      <div class="mb-6 pb-7 pb-lg-10 p-box border-bottom-box">
         <div class="font-zaux2 fst-italic c-typo-style1-4 zaux-color-set1-grey1 pb-3 pb-lg-5">
            <p>March 18, 2022</p>
          </div>
          <div class="font-zaux2 zaux-theme--light2 pb-3 pb-lg-4 maw-f768px">
              <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Scope</h6>
          </div>
          <div class="c-typo-style1-4 c-typo-style1-lg-8">
            <p>To facilitate informed decision-making on the management of adult individuals with diabetes mellitus and CKD stage 3b or higher (eGFR 45 mL/min).</p>
            <p> Including adults with diabetes mellitus and CKD stage 3b or higher. </p>
            <p>Does not apply to: adults with diabetes and CKD stages 1–2 to
              prevent or delay development of micro- or macro-albuminuria, nor children.</p>
            <p>Focus on 3 major areas:</p>
            <ul>
              <li>selection of renal replacement modality</li>
              <li> management of glycaemic control </li>
              <li> management and prevention of cardiovascular comorbidity </li>
          </ul>
          </div>
        </div>
       <!-- Fine Testo Scope Guidelines -->

    <div class="p-box pb-2 pb-lg-8">
      <div class="zaux-theme--light2 zaux-font2 pb-6 pb-md-9">
        <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Resources</h6>
      </div>
      <div class="row gx-3">
              {%
                set _decoVariations = [
                  "deco1-l-t",
                  "deco1-r-t",
                  "deco1-r-b",
                  "deco1-l-b"
                ]
              %}

              {% for decoVariation in _decoVariations %}

                <div class="col-12 col-md-6 pb-6">
                  {{CardRelated.content(
                    {
                      "className": ["h-100"],
                      "innerClassName": ["border-all-gradient py-8 px-2 px-lg-7"],
                      "contentClassName": ["text-center"],
                      "content": {
                        "cta": "How to order",
                        "title": "Our book list"
                      }
                    }
                  )}}

                </div>
                <!-- .col-* -->
              {% endfor %}
      </div>
    </div>

    <div class="mb-2 mb-lg-6">
      <div class="zaux-bg-set1-grey p-box py-8 py-lg-10">
         <div class="mb-3 mb-lg-6">
     {{Accordion.content(
              {
                "className": ["zaux-bg-default-white","rounded-2"],
                "innerClassName": [],
                "title": "Summary version translation"
              }
            )}}
      </div>
      <div class="">
     {{Accordion.content(
              {
                "className": ["zaux-bg-default-white","rounded-2"],
                "innerClassName": [],
                "title": "Disclosure of Interest (DoI)"
              }
            )}}
      </div>

      </div>
    </div>

  </main>

{% endblock %}

{% block foot_js %}
  <script defer src="assets/js/general.bundle.js"></script>
{% endblock %}
