[class^="icozaux1-"], [class*=" icozaux1-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icozaux1-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icozaux1-menu {
  font-size: 26px;
  width: 1.625em !important;
}

.icozaux1-arrowL {
  width: 0.892578125em;
}

.icozaux1-youtube {
  width: 1.3916015625em;
}

.icozaux1-arrowR {
  width: 0.857421875em;
}

.icozaux1-instagram {
  width: 1.03125em;
}

.icozaux1-twitter {
  width: 1.25em;
}

.icozaux1-facebook {
  width: 0.484375em;
}

.icozaux1-linkedin {
  width: 1.0322265625em;
}
