@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("header");

$zaux-header-h: 65px !default;
$zaux-header-lg-h: 160px !default;

.#{$component} {
  position: fixed;
  // max-width: 1440px;
  width: 100%;
  background-color: white;
  z-index: 20;

  &__inner {
    height: $zaux-header-h;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right,#b827fc 0%, #fd1892 25%, #fec837 50%,  #b8fd33 75%, #2c90fc 100%) 1;
    transition: height 0.5s;
    // background-color: #FFFFFF;

    & .c-menu__btn-toggle.is-active {
      & .hamburger--close {
        display: inline !important;
      }
      & .hamburger--menu {
        display: none;
      }
    }

  }

  &__logo {
    &.is-sticky {
    width: 85px;
    }
    @include media-breakpoint-down(lg) {
    width: 98px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    &__inner {
      height: $zaux-header-lg-h;
      position: relative;
    }
  }

  & .c-icon {
    & .icozaux1-menu {
      width: 26px;
      height: 20px;
    }
    & .icozaux1-search {
     width: 24px;
     height: 24px;
    }
    & .icozaux1-close {
      width: 22px;
      height: 22px;
     }
  }

  & a {
    color: tokenColor("set1","darkgrey");
  }

}
