{# Imports components #}
{% import 'components/img/img.njk' as Img %}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/modale/modale.njk' as Modal %}
{% import 'components/menu/menu.njk' as NavMenu %}

{% macro content(obj) %}

  {% set componentClassName = 'c-header' %}

  {% set configDefault = {
    "className": ["zaux-theme--light1"]
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}

  {# Creates new arrays for manipulation) #}
  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

  <header class="{{_className | join(" ")}}">
    <div class="{{componentClassName}}__inner p-box">

      <div class="font-zaux2 d-flex align-items-center justify-content-between h-100">
        <div class="hamburger closed d-lg-none">
           <a href="#" class="pe-9 d-flex justify-content-center">
          {{
            Icon.content({
              "className": [""],
              "iconName": "icozaux1-menu",
              "iconSvgUrl": app.fonts.icozaux1.url
            })
          }}
        </a>
        </div>
        <div class="fst-italic d-none d-lg-flex">
          <div class="hamburger closed">
            <a href="#" class="pe-9">
            {{
              Icon.content({
                "className": ["hamburger--menu", "align-txt-bottom"],
                "iconName": "icozaux1-menu",
                "iconSvgUrl": app.fonts.icozaux1.url
              })
            }}
            {{
              Icon.content({
                "className": ["hamburger--close","align-txt-bottom"],
                "iconName": "icozaux1-close",
                "iconSvgUrl": app.fonts.icozaux1.url
              })
            }}
            <span class="ps-1">Menu</span>
            </a>
          </div>
          <div>
            <button type="button" class="btn btn-primary ps-2" data-bs-toggle="modal" data-bs-target="#EraModal">
            {{
              Icon.content({
                "className": ["align-txt-bottom"],
                "iconName": "icozaux1-search",
                "iconSvgUrl": app.fonts.icozaux1.url
              })
            }}
            <span class="ps-1">Search</span>

          </button>
          </div>
        </div>

        <div>
          {% if page.isHome %}
            {% set tagLogo = "h1" %}
          {% else %}
            {% set tagLogo = "div" %}
          {% endif %}

          <{{tagLogo}} class="{{componentClassName}}__logo">
            <a href="#linkLogo" title="{{app.title}}" rel="home">
              <span class="visually-hidden">
                {{app.title}}
              </span>

              {{
                Img.content(component_header.props.logo.img | merge({
                  "title": app.title + ' - ' + app.slogan
                }) )
              }}
            </a>
          </{{tagLogo}}>
          <!-- .{{componentClassName}}__logo -->
        </div>
        <!-- .{{componentClassName}}__section -->

        <div class="d-none d-lg-block">
          <a href="#" class="fw-bold pe-7">My Era</a>
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">JOIN</a>
        </div>

      </div>
      {{ Modal.content() }}
    </div>
    <!-- .{{componentClassName}}__inner -->

    {{
      NavMenu.content()
    }}

  </header>
  <!-- .{{componentClassName}} -->
{% endmacro %}
