{# Imports components #}
{% import 'components/img/img.njk' as Img %}
{% import 'components/icon/icon.njk' as Icon %}

{% macro content(obj) %}

  {% set componentClassName = 'c-header' %}

  {% set configDefault = {
    "className": ["zaux-theme--light1"]
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}

  {# Creates new arrays for manipulation) #}
  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

  <header class="{{_className | join(" ")}}">
    <div class="{{componentClassName}}__inner p-box">

      <div class="font-zaux2 d-flex align-items-center justify-content-between h-100">
        <div class="d-lg-none">
           <a href="#" class="pe-9 d-flex justify-content-center">
          {{
            Icon.content({
              "className": "",
              "iconName": "icozaux1-menu",
              "iconSvgUrl": app.fonts.icozaux1.url
            })
          }}
        </a>
        </div>
        <div class="fst-italic d-none d-lg-block">
          <a href="#" class="pe-9">
          {{
            Icon.content({
              "className": "",
              "iconName": "icozaux1-menu",
              "iconSvgUrl": app.fonts.icozaux1.url
            })
          }}
          <span class="ps-2">Menu</span>
        </a>
          <a href="#" class="ps-2">
          {{
            Icon.content({
              "className": "",
              "iconName": "icozaux1-search",
              "iconSvgUrl": app.fonts.icozaux1.url
            })
          }}
          <span class="ps-2">Search</span>
        </a>
        </div>

        <div>
          {% if page.isHome %}
            {% set tagLogo = "h1" %}
          {% else %}
            {% set tagLogo = "div" %}
          {% endif %}

          <{{tagLogo}} class="{{componentClassName}}__logo">
            <a href="#linkLogo" title="{{app.title}}" rel="home">
              <span class="visually-hidden">
                {{app.title}}
              </span>

              {{
                Img.content(component_header.props.logo.img | merge({
                  "title": app.title + ' - ' + app.slogan
                }) )
              }}
            </a>
          </{{tagLogo}}>
          <!-- .{{componentClassName}}__logo -->
        </div>
        <!-- .{{componentClassName}}__section -->

        <div class="d-none d-lg-block">
          <a href="#" class="fw-bold pe-7">My Era</a>
          <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">JOIN</a>
        </div>

        {# {% if not obj.isLite %}
          <div class="{{componentClassName}}__section d-flex align-items-center">
            (nav)
          </div> #}
          <!-- .{{componentClassName}}__section -->

          {# <div class="{{componentClassName}}__section d-flex align-items-center">
            (nav tools)
          </div>
          <!-- .{{componentClassName}}__section -->
        {% endif %} #}

      </div>
      <!-- .container-xxl -->

    </div>
    <!-- .{{componentClassName}}__inner -->
  </header>
  <!-- .{{componentClassName}} -->
{% endmacro %}
