@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("footer");

$zaux-footer-last-h:50px;

.#{$component} {
  min-height: 330px;

  &__container {
    &--img {
    padding-bottom: 40px;
      picture {
        @include media-breakpoint-down(lg) {
          text-align: center;
        }
      }
    }
    &--list {
      @include media-breakpoint-down(lg) {
        text-align: center;
      }
    }
    &--social {
      @include media-breakpoint-down(lg) {
        text-align: center;
      }
      // &--icon a:visited {
      //   color: tokenColor("set1","red1") !important;
      // }
      // &--icon a:hover {
      //   color: #BD2910 !important;
      // }

    &--icon [class^="icozaux1-"], [class*=" icozaux1-"] {
        display: inline-block;
        width: 2em;
        height: 2em;
        stroke-width: 0;
        stroke: currentColor;
        // fill: tokenColor("set1","red1");
      }
    }
  }

  & ul {
  list-style-type: none;
  & li:first-child {
    font-weight: bold;
  }
   & li a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
   }
  }
  // & .c-icon {
  //     width: 30px;
  // }

}
.#{$component}__last {
  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: $zaux-footer-last-h;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }
  & a {
    text-decoration: none;
  }
}
