@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("footer");

$zaux-footer-last-h:50px;

.#{$component} {
  min-height: 330px;
  // &__container {
  //   // padding: $column-padding-box;
  // }

  & ul {
  list-style-type: none;
  & li:first-child {
    font-weight: 700;
  }
   & li a {
    text-decoration: none;
   }
  }
}
.#{$component}__last {
  min-height: $zaux-footer-last-h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a {
    text-decoration: none;
  }
  @include media-breakpoint-down(lg) {
  flex-direction: column;
  }
}
