{# Imports components #}
{% import 'components/img/img.njk' as Img %}
{% import 'components/icon/icon.njk' as Icon %}

{% macro content(obj) %}

  {% set componentClassName = 'c-footer' %}

 <footer class="{{componentClassName}}">
    <div class="c-footer__container zaux-bg-set1-grey p-box pb-4 pt-6 pt-lg-7 pb-lg-6">
      <nav>
        <div class="row gx-3 zaux-theme--light1">
          <div class="col-12 col-lg-3">
            <div class="c-footer__container--img">
              {{
              Img.content(component_footer.props.logo.img)
              }}
            </div>
          </div>
          <div class="c-footer__container--list col-6 col-lg-3 c-typo-style1-4 c-typo-style1-lg-8">
              <ul>
                <li><a href="">Networking</a></li>
                <li><a href="">EKHA</a></li>
                <li><a href="">Biomed Alliance</a></li>
                <li><a href="">Collaboration with societies</a></li>
                <li><a href="">National societies</a></li>
                <li><a href="">ASB ERA ISN</a></li>
              </ul>
          </div>
          <div class="c-footer__container--list col-6 col-lg-3 c-typo-style1-4 c-typo-style1-lg-8">
              <ul>
                <li><a href="">Membership</a></li>
                <li><a href="">Join / Renew</a></li>
                <li><a href="">Benefits</a></li>
                <li><a href="">Q&A</a></li>
              </ul>
          </div>
          <div class="c-footer__container--social col-12 col-lg-3">
            <div class="d-flex pb-7 justify-content-between px-8 px-lg-0 pb-lg-6 pt-lg-0 pt-7">
              <a href="#" title="Twitter">
                {{
                    Icon.content({
                      "className": "",
                      "iconName": "icozaux1-twitter",
                      "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}
              </a>
              <a href="#" title="Instagram">
                {{
                    Icon.content({
                      "className": "",
                      "iconName": "icozaux1-instagram",
                      "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}
              </a>
              <a href="#" title="Facebook">
                {{
                    Icon.content({
                      "className": "",
                      "iconName": "icozaux1-facebook",
                      "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}
              </a>
              <a href="#" title="Linkedin">
                {{
                    Icon.content({
                      "className": "",
                      "iconName": "icozaux1-linkedin",
                      "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}
              </a>
              <a href="#" title="YouTube">
                {{
                    Icon.content({
                      "className": "",
                      "iconName": "icozaux1-youtube",
                      "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}
              </a>
            </div>
            <div class="pb-6">
            <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title">CONTACT US</a>
            </div>
            <div class="c-typo-style1-2 pb-1 pb-lg-6">
              <p><strong>ERA Operative Headquarters:</strong> Strada dei Mercati 16/A I-43126 Parma – Italy  |  Phone: +39 0521 989078  |  E-mail: secretariat@era-online.org </p>
            </div>
           <div class="c-typo-style1-2">
              <p><strong>ERA Registered Office:</strong> c/o PKF Littlejohn, 15 Westferry Circus, Canary Wharf London E14 4HD – United Kingdom</p>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="c-footer__last p-box zaux-bg-set1-darkgrey zaux-theme--dark1 p-box c-typo-fs-3 py-4 py-lg-0">
     <div class="pb-6 pb-lg-0">
      <a href="#" class="">© Copyright - Era</a>
     </div>
     <div class="d-flex flex-column flex-lg-row align-items-center">
      <a href="#" class="pe-0 pe-lg-9 pb-6 pb-lg-0">Terms and condition</a>
      <a href="#" class="pe-0 pe-lg-9 pb-6 pb-lg-0">Cookie Policy</a>
      <a href="#" class="pb-2 pb-lg-0">Privcy Policy</a>
     </div>
    </div>

  </footer>
  <!-- .{{componentClassName}} -->
{% endmacro %}
