@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("card2");

.#{$component} {


  &__content{
    padding-left: 13px;
    &--cat {
      text-transform: uppercase;
    }
  &--date {
    @include media-breakpoint-down(lg) {
      color: tokenColor("set1","darkgrey");
  }
}
    &--author a {
      text-decoration: underline !important;
    }


  &:hover {
    cursor: pointer;
    h6 {
      text-decoration: underline;
    }
  }
  }
  // &--lg-size1 {
  //   .#{$component} {
  //     &__inner {
  //       @include media-breakpoint-up(sm) {
  //         height: 300px;
  //       }
  //     }
  //   }
  // }
}
