$zaux-token-colors:(
  default: (
    white: #FFFFFF,
    black: #333333,
    red: #d9534f,
    green: #5cb85c,
    blue: #337ab7,
    magenta: #FF00FF,
    orange: #f0ad4e
  ),
  app: (
    theme: #475461
  ),
  set1: (
    yellow1: #FBC817,
    red1: #D32E12,
    darkred: #BD2910,
    green1: #0DAF2B,
    blue1: #005EC3,
    grey: #F1F1F1,
    grey1: #ACACAC,
    grey2: #D8D8D8,
    darkgrey: #3F3F3F,
    darkgrey2: #676767
  )
);
