@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("nav3");

.#{$component} {
  width: 100%;
  @include media-breakpoint-up(lg) {
    max-width: 415px;
    }
  ul {
    list-style: none;
  }
  li {
    padding-bottom: 20px;
    position: relative;
    i {
      display: none;
    }
    &.is-active {
      font-weight: bold;
      i {
        @include media-breakpoint-up(lg) {
          position: absolute;
          display: block;
          right: -74px;
          top: 0;
          font-size: 32px;
          }
      }
    }
  }
   a {
      &:hover {
        // font-weight: bold;
        text-decoration: none;
      }
    }

  & select {
    background-color: #F1F1F1;
    font-weight: 600;
  }
  }
