@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("nav3");

.#{$component} {
  width: 100%;
  @include media-breakpoint-up(lg) {
    max-width: 415px;
    }
  ul {
    list-style: none;
  }
  li {
    padding-bottom: 20px;
    &.active {
      font-weight: bold;
    }
  }
   a {
      &:hover {
        // font-weight: bold;
        text-decoration: none;
      }
    }

  & select {
    background-color: #F1F1F1;
    font-weight: 600;
  }
  }
