{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}

{% macro content(obj) %}

  {% set componentClassName = 'c-nav3' %}

  {% set configDefault = {
    "wrapperElement" : "nav"
  }%}

  {% set obj = configDefault | merge(obj or {}) %}

  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

  <div class="{{_className | join(" ")}}">
     <div class="ps-box zaux-bg-set1-grey h-100 d-none d-lg-block">
       <div class="text-lg-start text-center font-zaux2 zaux-theme--light2 pt-lg-8 pb-lg-12">
          <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Main Topics</h6>
        </div>
        <nav class="c-nav3--layout1 zaux-theme--light1 c-typo-style1-8 pt-4 pe-8">
            <!-- BEGIN WP NAV -->
                <ul class="">
                  <li class="{{componentClassName}}__item is-active"><a href="#">Plenary Lectures</a>
                  {{
                    Icon.content({
                    "className": ["zaux-color-set1-grey"],
                    "iconName": "icozaux1-menuarrow",
                    "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}</li>
                  <li class="{{componentClassName}}__item">
                    <a href="#">Institutional</a>
                    {{
                    Icon.content({
                    "className": ["zaux-color-set1-grey"],
                    "iconName": "icozaux1-menuarrow",
                    "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}
                    </li>
                  <li class="{{componentClassName}}__item"><a href="#">Fluid electrolytes, tubular transport, renal physiology</a>{{
                    Icon.content({
                    "className": ["zaux-color-set1-grey"],
                    "iconName": "icozaux1-menuarrow",
                    "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}</li>
                  <li class="{{componentClassName}}__item"><a href="#">Hereditary disorders, development, pregnancy, paediatric nephrology</a>{{
                    Icon.content({
                    "className": ["zaux-color-set1-grey"],
                    "iconName": "icozaux1-menuarrow",
                    "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}</li>
                  <li class="{{componentClassName}}__item"><a href="#">Glomerular diseases & general clinical nephrology</a>{{
                    Icon.content({
                    "className": ["zaux-color-set1-grey"],
                    "iconName": "icozaux1-menuarrow",
                    "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}</li>
                  <li class="{{componentClassName}}__item"><a href="#">Pathophysiology, epidemiology, prevention, progression, ageing</a>{{
                    Icon.content({
                    "className": ["zaux-color-set1-grey"],
                    "iconName": "icozaux1-menuarrow",
                    "iconSvgUrl": app.fonts.icozaux1.url
                    })
                  }}</li>
                </ul>
            <!-- END WP NAV -->
        </nav>
    </div>
    <div class="p-box d-block d-lg-none pb-6">
      <div class="text-lg-start text-center font-zaux2 zaux-theme--light2 pt-6 pb-6">
          <h6 class="fw-demi c-typo-fs-10 c-typo-fs-lg-16">Main Topics</h6>
      </div>
      <div class="w-100">
        <select class="form-select" aria-label="Default select example">
          <option value="1" selected>Plenary Lectures</option>
          <option value="2">Institutional</option>
          <option value="3">Fluid electrolytes, tubular transport, renal physiology</option>
          <option value="4">Hereditary disorders, development, pregnancy, paediatric nephrology</option>
          <option value="5">Glomerular diseases & general clinical nephrology</option>
          <option value="6">Pathophysiology, epidemiology, prevention, progression, ageing</option>
        </select>
      </div>
    </div>
  </div>

{% endmacro %}
