@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("card1");

////////////////////////////////////////////////////
// Theme: Light1
////////////////////////////////////////////////////

.#{$component} {

  &--theme--light {

  & .#{$component}__content {
    background-color: #3F3F3FBF;
    transition: 1s;

    &:hover {
      background-color: #3F3F3FF2;
    }
  }

}

}

////////////////////////////////////////////////////
// Theme: Dark1
////////////////////////////////////////////////////

