{% import 'components/img/img.njk' as Img %}

{% macro content(obj) %}

  {% set componentClassName = 'c-card1' %}

  {% set configDefault = {
    "className": [],
    "innerWrapperClassName": [],
    "innerClassName": [],
    "contentClassName": []
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}

  {# Creates new arrays for manipulation) #}
  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}
  {% set _innerClassName = [componentClassName + "__inner"] | mergeArray(obj.innerClassName or configDefault.innerClassName) %}
  {% set _contentClassName = [componentClassName + "__recipe"] | mergeArray(obj.contentClassName or configDefault.contentClassName) %}


  <div class="{{_className | join(" ")}} pb-1">

    <div class="{{_innerClassName | join(" ")}}">
        <div class="{{_contentClassName | join(" ")}} p-3">
             {% if obj.img %}
              <div class="{{componentClassName}}__recipe--img pb-3">
                <a href="#">
                  {{
                    Img.content(obj.img)
                  }}
                </a>
              </div>
            {% endif %}
              <div class="pb-6">
                <div class="font-zaux2 zaux-theme--light1 pb-2">
                  <h6 class="fw-demi c-typo-fs-8 c-typo-fs-lg-10">
                    <a href="#">{{obj.name|safe}} </a></h6>
                </div>
                <div class="font-zaux2 fst-italic c-typo-style-4">
                  <p>{{obj.nation|safe}}</p>
                </div>
              </div>
              <div class="position-absolute bottom-0 pb-3">
                <div class="{{componentClassName}}__recipe--time font-zaux2 fst-italic c-typo-style-6">
                  <p>{{obj.time|safe}}</p>
                </div>
              </div>
        </div>
        <!-- .{{componentClassName}}__recipe -->
    </div>
    <!-- .{{componentClassName}}__inner -->
  </div>
  <!-- .{{componentClassName}} -->
{% endmacro %}
