{% import 'components/img/img.njk' as Img %}


{% macro content(obj) %}

  {% set componentClassName = 'c-card1' %}

  {% set configDefault = {
    "className": [],
    "innerWrapperClassName": [],
    "innerClassName": [],
    "contentClassName": []
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}

  {# Creates new arrays for manipulation) #}
  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}
  {% set _innerClassName = [componentClassName + "__inner"] | mergeArray(obj.innerClassName or configDefault.innerClassName) %}
  {% set _contentClassName = [componentClassName + "__profile"] | mergeArray(obj.contentClassName or configDefault.contentClassName) %}

  <div class="{{_className | join(" ")}}">
    <div class="{{_innerClassName | join(" ")}}">
        <div class="{{_contentClassName | join(" ")}}">
             {% if obj.img %}
              <div class="{{componentClassName}}__profile--img pb-3 pb-lg-7">
                  {{
                    Img.content(obj.img)
                  }}
              </div>
            {% endif %}
            <div class=" font-zaux2 zaux-theme--light1 pb-3 pb-lg-4">
              <h6 class="fw-demi c-typo-fs-8 c-typo-fs-lg-10"> {{obj.nome|safe}} </h6>
            </div>
            <div class="pb-8 pb-lg-9">
               {{obj.ruolo|safe}}
            </div>
          <div class="{{componentClassName}}__profile--cta">
            <a class="c-cta1 c-cta1--sm c-cta1--red" href="#" title="button title" data-bs-toggle="modal" data-bs-target="#EraProfileModal">Profile</a>
          </div>
        </div>
        <!-- .{{componentClassName}}__profile -->
    </div>
    <!-- .{{componentClassName}}__inner -->
  </div>
  <!-- .{{componentClassName}} -->
{% endmacro %}
