@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("breadcrumbs");

.#{$component} {
  > span, a {
  font-family: $zaux-font2;
  color: tokenColor("set1", "red1");
  font-size: 10px;
  text-transform: uppercase;
  @include media-breakpoint-up(lg) {
    font-size: 12px;
    }
  }
  &.theme-white {
    > span, a {
      color: white !important;
    }
  }
}
