{% macro content(obj) %}

  {% set componentClassName = 'c-breadcrumbs' %}

  {% set configDefault = {
    "className": []
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}

 {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

  <div class="{{_className | join(" ")}}">
    <span>
      <span>
        <a href="#home">Home</a> / <span>
          <a href="#parent">Parent Page</a> / <span class="breadcrumb_last" aria-current="page">Current Page</span>
        </span>
      </span>
    </span>
  </div>

{% endmacro %}
