@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("nav");

.#{$component} {

  ul {
    list-style: none;

    li {
      font-weight: normal;
      padding-bottom: 10px;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
