{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}

{% macro content(obj) %}

  {% set componentClassName = 'c-nav' %}

  {% set configDefault = {
    "className": ["closed"],
    "wrapperElement" : "nav"
  }%}

  {% set obj = configDefault | merge(obj or {}) %}

  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

  <div class="{{_className | join(" ")}}">
    {# <{{obj.wrapperElement}} class="{{componentClassName}}"> #}
    <div class="{{componentClassName}}__inner">

      <div class="zaux-color-set1-darkgrey2">
        <nav>
          <ul>
              <li>
                <a href="{{item.href|safe}}" class="{{componentClassName}}__item-wrapper">About Us</a>
              </li>
              <li>
                <a href="{{item.href|safe}}" class="{{componentClassName}}__item-wrapper">Membership</a>
              </li>
              <li>
                <a href="{{item.href|safe}}" class="{{componentClassName}}__item-wrapper">Events</a>
              </li>
              <li>
                <a href="{{item.href|safe}}" class="{{componentClassName}}__item-wrapper">Research & Education</a>
              </li>
              <li>
                <a href="{{item.href|safe}}" class="{{componentClassName}}__item-wrapper">Papers & Publicattions</a>
              </li>
              <li>
                <a href="{{item.href|safe}}" class="{{componentClassName}}__item-wrapper">Clinical Guidance</a>
              </li>
              <li>
                <a href="{{item.href|safe}}" class="{{componentClassName}}__item-wrapper">For Patients</a>
              </li>
          </ul>
        </nav>
      </div>
      <div>
      </div>
      </div>
    </div>
    {# </{{obj.wrapperElement}}> #}
    <!-- .{{componentClassName}} -->
  </div>

{% endmacro %}
