{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}

{% macro content(obj) %}

  {% set componentClassName = 'c-nav' %}

  {% set configDefault = {
    "wrapperElement" : "nav"
  }%}

  {% set obj = configDefault | merge(obj or {}) %}

  {% if obj.items %}
    <{{obj.wrapperElement}} class="{{componentClassName}} py-4 py-lg-0 zaux-theme--dark1">
      <ul>
        {% for item in obj.items %}

          {% set itemClassNameArr = [] %}

          {% if item.childId %}
            {% set itemClassNameArr = (itemClassNameArr.push(componentClassName + "__item--has-child"), itemClassNameArr) %}
          {% endif %}

          <li
            class="{{componentClassName}}__item ps-box pb-5 {{ (itemClassNameArr | safe) | replace(",", " ") }} {{item.className}}"
            {# {% if item.childId %} aria-owns="sidebar-panel-{{item.childId}}"{% endif %}
            {% if item.targetPanelId %} data-sidebar-open-panel="{{item.targetPanelId|safe}}"{% endif %}
            {% if item.label %} title="{{item.label}}"{% endif %} #}
          >
            <a href="{{item.href|safe}}" class="{{componentClassName}}__item-wrapper">

              {% if item.showLabel and item.label %}
                <span class="{{componentClassName}}__item-label {{item.labelClassName|safe}}">
                  {{item.label}}
                </span>
              {% endif %}

              {% if item.description %}
                <span class="{{componentClassName}}__item-description {{item.descriptionClassName|safe}}">
                  <span class="visually-hidden">- </span>
                  {{item.description|safe}}
                </span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </{{obj.wrapperElement}}>
    <!-- .{{componentClassName}} -->
  {% endif %}

{% endmacro %}
