@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("accordion");


.#{$component} {
  width: 100%;
  position: relative;
  @include media-breakpoint-up(lg) {
    width: 825px;
    margin: auto;
}

  &.closed {
    & .#{$component}__head::after {
      content: '+';
      top: calc( 50% - 20px ) ;
    }
  }
    &.closed {
      &:hover {
        background-color: #F9F9F9 !important;
      }
      // & .#{$component}__inner {
      // }
    }

  &__inner {

    & .#{$component}__head {
        position: relative;
          min-height: 60px;
        @include media-breakpoint-up(lg) {
            min-height: 90px;
      }
      &::after {
        content: '-';
        position: absolute;
        right: 25px;
        // top:24px;
        top: calc( 50% - 25px ) ;
        font-size: 30px;
        font-family: $zaux-font2;
        font-weight: 600;
      }
    &--title {
      h6 {
        margin-right: 45px;
      }
    }
    }
    & ul {
      list-style: none;
    }
  }

  &.open  .#{$component}__head {
   border-bottom: 5px solid #F1F1F1;

  }
  &.open  .#{$component}__show {
    display: block !important;
  }

}
