@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("accordion");


.#{$component} {
  width: 100%;
  @include media-breakpoint-up(lg) {
    width: 825px;
    margin: auto;
}

  // &.closed {
  //   & .#{$component}__head::after {
  //     content: '+';
  //   }
  // }
    &.closed {
      & .#{$component}__inner {
        &:hover {
          background-color: #F9F9F9 !important;
        }
      }
    }

  &__inner {

    & .#{$component}__head {
          height: 60px;
        @include media-breakpoint-up(lg) {
            height: 90px;
      }
      // &::after {
      //   content: '-';
      //   position: absolute;
      //   right: 25px;
      //   top:20px;
      //   font-size: 30px;

      // }
    }
    & ul {
      list-style: none;
    }
  }

  &.open  .#{$component}__head {
   border-bottom: 5px solid #F1F1F1;
  }
  &.open  .#{$component}__show {
    display: block !important;
  }

}
