@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("slider");

.#{$component} {
  &__wrapper {
    overflow: hidden;
    position: relative;
  }
  & .swiper-slide {
    &--charts {
      border: 1px solid #F1F1F1;
    }
  }
  .swiper-3d {
    max-width: 850px;
  & .swiper-slide {
    // transform: none !important;
  }
  & .swiper-slide-shadow-left {
    background-image: none;
  }
  & .swiper-slide-shadow-right {
    background-image: none;
  }
  & .swiper-slide-active {
    & img {
      transform: scale(1.45);
      @include media-breakpoint-down(md) {
        transform: none;
      }
    }
  }
}

  & .swiper-pagination {
    @include media-breakpoint-down(lg) {
      bottom: 30px;
     }

    &-bullet{
      width: 15px;
      height: 15px;
      background-color: white;
      border: 2px solid #979797;
    }
    &-bullet-active{
      background-color: #979797;
    }
  }

  & .swiper-navigation {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      padding-top: 45px;
     }

  & .swiper-button-prev, & .popular-swiper-button-prev, & .swiper-button-prev2, & .swiper-button-prev3,
  & .swiper-button-prev4, & .swiper-button-prev5, & .swiper-button-prev6, & .swiper-button-prev7, & .swiper-button-prev8
  {
    top: 5%;
    right: 100px;
    left: auto;
    @include media-breakpoint-down(md) {
      position: static;
      padding-right: 50px;
      width: auto;
      height: auto;
     }

    &::after {
      content: none;
    }
  }
  & .swiper-button-next, & .popular-swiper-button-next, & .swiper-button-next2, & .swiper-button-next3, & .swiper-button-next4,
  & .swiper-button-next5, & .swiper-button-next6, & .swiper-button-next7, & .swiper-button-next8
  {
    color: tokenColor("set1","red1");
    top: 5%;
    @include media-breakpoint-down(md) {
      position: static;
      width: auto;
      height: auto;
    }

    &:hover {
      color: #BD2910;
    }

    &::after {
      content: none;
    }
  }
}

.popular-swiper-button-prev, .popular-swiper-button-next,
.swiper-button-prev2, .swiper-button-next2,
.swiper-button-prev3, .swiper-button-next3,
.swiper-button-prev4, .swiper-button-next4,
.swiper-button-prev5, .swiper-button-next5,
.swiper-button-prev6, .swiper-button-next6,
.swiper-button-prev7, .swiper-button-next7,
.swiper-button-prev8, .swiper-button-next8
{
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }
  &:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}
.popular-swiper-button-prev, .swiper-button-prev2, .swiper-button-prev3, .swiper-button-prev4,
.swiper-button-prev5, .swiper-button-prev6, .swiper-button-prev7, .swiper-button-prev8,
.swiper-rtl .popular-swiper-button-next, .swiper-rtl .swiper-button-next2, .swiper-rtl .swiper-button-next3, .swiper-rtl .swiper-button-next4,
.swiper-rtl .swiper-button-next5, .swiper-rtl .swiper-button-next6, .swiper-rtl .swiper-button-next7, .swiper-rtl .swiper-button-next8
  {
  &:after {
    content: 'prev';
  }
  left: 10px;
  right: auto;
}
.popular-swiper-button-next, .swiper-button-next2, .swiper-button-next3, .swiper-button-next4, .swiper-button-next5,
.swiper-button-next6, .swiper-button-next7, .swiper-button-next8,
.swiper-rtl .popular-swiper-button-prev, .swiper-rtl .swiper-button-prev2, .swiper-rtl .swiper-button-prev3, .swiper-rtl .swiper-button-prev4,
.swiper-rtl .swiper-button-prev5, .swiper-rtl .swiper-button-prev6, .swiper-rtl .swiper-button-prev7, .swiper-rtl .swiper-button-prev8 {
  &:after {
    content: 'next';
  }
  right: 10px;
  left: auto;
}

.swiper-button-lock {
  display: none;
}

}
