@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("slider");

.#{$component} {
  &__wrapper {
    overflow: hidden;
    position: relative;
    // @include media-breakpoint-up(md) {
    //   margin: 0 10px;
    // }
  }
  & .swiper-slide {
    height: auto;
    &__charts {
      // border: 1px solid #F1F1F1;
      // height: 100%;
      // display: flex;
      // align-items: center;
    }

    &.swiper-slide-visible .c-twitter {
      box-shadow: 1px 1px 10px 0px #0000001A;
    }

    &.swiper-slide-next .c-twitter {
      margin-right: 10px;
    }

    &.swiper-slide-prev .c-twitter {
      margin-left: 10px;
    }

  }
  .swiper-3d {
    max-width: 920px;
  & .swiper-slide-shadow-left {
    background-image: none;
  }
  & .swiper-slide-shadow-right {
    background-image: none;
  }
  & .swiper-slide-active {
    z-index: 5 !important;
    & .c-twitter {
      transform: scale(1.30);
      transition: 1s;
      @include media-breakpoint-down(md) {
        transform: none;
      }
    }
  }
}

  & .swiper-pagination {
    bottom: 20px;
    @include media-breakpoint-down(lg) {
      bottom: 40px;
     }

    &-bullet{
      width: 15px;
      height: 15px;
      background-color: white;
      border: 2px solid #979797;
    }
    &-bullet-active{
      background-color: #979797;
    }
  }

  & .swiper-navigation {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      padding-top: 45px;
     }

  & .swiper-button-prev, & .popular-swiper-button-prev, & .swiper-button-prev2, & .swiper-button-prev3,
  & .swiper-button-prev4, & .swiper-button-prev5, & .swiper-button-prev6, & .swiper-button-prev7, & .swiper-button-prev8
  {
    top: 5%;
    right: 100px;
    left: auto;
    color: tokenColor("set1","red1");
    @include media-breakpoint-down(md) {
      position: static;
      padding-right: 50px;
      width: auto;
      height: auto;
     }
     &:hover {
      color: #BD2910;
    }

    &::after {
      content: none;
    }
  }
  & .swiper-button-next, & .popular-swiper-button-next, & .swiper-button-next2, & .swiper-button-next3, & .swiper-button-next4,
  & .swiper-button-next5, & .swiper-button-next6, & .swiper-button-next7, & .swiper-button-next8
  {
    color: tokenColor("set1","red1");
    top: 5%;
    @include media-breakpoint-down(md) {
      position: static;
      width: auto;
      height: auto;
    }

    &:hover {
      color: #BD2910;
    }

    &::after {
      content: none;
    }
  }

  & .chart-swiper-button-prev {
    color: tokenColor("set1","red1");
    left: -30px;
    top: 42%;
    @include media-breakpoint-down(lg) {
      display: none;
    }
    &::after {
      content: none;
    }
    &:hover {
      color: #BD2910;
    }
  }

  & .chart-swiper-button-next {
    color: tokenColor("set1","red1");
    right: -30px;
    top: 42%;
    @include media-breakpoint-down(lg) {
      display: none;
    }
    &::after {
      content: none;
    }
    &:hover {
      color: #BD2910;
    }
  }

  & .twitter-swiper-button-prev {
    color: tokenColor("set1","red1");
    top: 45%;
    @include media-breakpoint-down(md) {
      position: static;
      padding-right: 50px;
      width: auto;
      height: auto;
     }
    &::after {
      content: none;
    }
    &:hover {
      color: #BD2910;
    }
  }
  & .twitter-swiper-button-next {
    color: tokenColor("set1","red1");
    top: 45%;
    @include media-breakpoint-down(md) {
      position: static;
      width: auto;
      height: auto;
    }
    &::after {
      content: none;
    }
    &:hover {
      color: #BD2910;
    }
  }
}

.chart-swiper-button-prev, .chart-swiper-button-next,
.swiper-button-prev, .swiper-button-next,
.popular-swiper-button-prev, .popular-swiper-button-next,
.swiper-button-prev2, .swiper-button-next2,
.swiper-button-prev3, .swiper-button-next3,
.swiper-button-prev4, .swiper-button-next4,
.swiper-button-prev5, .swiper-button-next5,
.swiper-button-prev6, .swiper-button-next6,
.swiper-button-prev7, .swiper-button-next7,
.swiper-button-prev8, .swiper-button-next8,
.twitter-swiper-button-prev, .twitter-swiper-button-next
{
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
    color: #F1F1F1;
    &:hover {
      color: #F1F1F1;
    }
  }
  &:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}
.popular-swiper-button-prev, .swiper-button-prev2, .swiper-button-prev3, .swiper-button-prev4,
.swiper-button-prev5, .swiper-button-prev6, .swiper-button-prev7, .swiper-button-prev8,
.swiper-rtl .popular-swiper-button-next, .swiper-rtl .swiper-button-next2, .swiper-rtl .swiper-button-next3, .swiper-rtl .swiper-button-next4,
.swiper-rtl .swiper-button-next5, .swiper-rtl .swiper-button-next6, .swiper-rtl .swiper-button-next7, .swiper-rtl .swiper-button-next8
  {
  &:after {
    content: 'prev';
  }
  left: 10px;
  right: auto;
}
.twitter-swiper-button-prev, .swiper-rtl .twitter-swiper-button-next {
  &:after {
    content: 'prev';
  }
  left: 10px;
  right: auto;
}
.popular-swiper-button-next, .swiper-button-next2, .swiper-button-next3, .swiper-button-next4, .swiper-button-next5,
.swiper-button-next6, .swiper-button-next7, .swiper-button-next8, .twitter-swiper-button-next,
.swiper-rtl .popular-swiper-button-prev, .swiper-rtl .swiper-button-prev2, .swiper-rtl .swiper-button-prev3, .swiper-rtl .swiper-button-prev4,
.swiper-rtl .swiper-button-prev5, .swiper-rtl .swiper-button-prev6, .swiper-rtl .swiper-button-prev7, .swiper-rtl .swiper-button-prev8, .swiper-rtl .twitter-swiper-button-prev {
  &:after {
    content: 'next';
  }
  right: 10px;
  left: auto;
}

.twitter-swiper-button-next, .swiper-rtl .twitter-swiper-button-prev {
  &:after {
    content: 'prev';
  }
  right: 10px;
  left: auto;
}

.swiper-button-lock {
  display: none;
}

.print-chart {
  cursor: pointer;
}

.chart-swiper-button-prev, .chart-swiper-button-next {
  &.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
    color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
    }
  }
}

}
