@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("slider");

.#{$component} {
  &__wrapper {
    overflow: hidden;
    position: relative;
  }
  & .swiper-slide {
    &--charts {
      border: 1px solid #F1F1F1;
    }
  }

  & .swiper-pagination {
    @include media-breakpoint-down(lg) {
      bottom: 30px;
     }

    &-bullet{
      width: 15px;
      height: 15px;
      background-color: white;
      border: 2px solid #979797;
    }
    &-bullet-active{
      background-color: #979797;
    }
  }

  & .swiper-navigation {
    @include media-breakpoint-down(md) {
      display: flex;
      justify-content: center;
      padding-top: 30px;
     }

  & .swiper-button-prev {
    top: 5%;
    right: 100px;
    left: auto;
    @include media-breakpoint-down(md) {
      position: static;
      padding-right: 50px;
      width: auto;
      height: auto;
     }

    &::after {
      content: none;
    }
  }
  & .swiper-button-next {
    color: tokenColor("set1","red1");
    top: 5%;
    @include media-breakpoint-down(md) {
      position: static;
      width: auto;
      height: auto;
    }

    &:hover {
      color: #BD2910;
    }

    &::after {
      content: none;
    }
  }
}

}
