@charset "UTF-8";

$zaux-helper-name: "color";

////////////////////////////////////////////////////
// HELPER MIXINS
////////////////////////////////////////////////////
@mixin zaux-helper-color($name, $color) {
  .zaux-color-#{$name} {
    color: $color !important;
  }
}

@mixin zaux-helper-bgcolor($name, $color) {
  .zaux-bg-#{$name} {
    background-color: $color !important;
  }
}

////////////////////////////////////////////////////
// HELPER CLASSES
////////////////////////////////////////////////////

@each $setName, $setObj in tokenColors() {
  @each $colorName, $colorVal in $setObj {
    @include zaux-helper-color("#{$setName}-#{$colorName}", $colorVal);
  }
}

@each $setName, $setObj in tokenColors() {
  @each $colorName, $colorVal in $setObj {
    @include zaux-helper-bgcolor("#{$setName}-#{$colorName}", $colorVal);
  }
}

////////////////////////////////////////////////////
// HELPER CSS VARIABLES
////////////////////////////////////////////////////

// :root {
//   --#{tokenDef('css-var-prefix')}-test: #f00;
// }

.border-left-gradient {
  border-left-width: 2px;
  border-left-style: solid;
  border-image: linear-gradient(to bottom ,#b827fc 0%, #fd1892 25%, #fec837 50%,  #b8fd33 75%, #2c90fc 100%) 1;
}

.border-all-gradient {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right ,#b827fc 0%, #fd1892 25%, #fec837 50%,  #b8fd33 75%, #2c90fc 100%) 1;
}

.darkgrey-opacity {
  background-color: #3F3F3F99;
}
