@charset "UTF-8";

.zaux-svg-fluid-wrapper {
  display: block;
  line-height: 0;
  svg {
    max-width: 100%;
  }
}

:root:not(.ie-legacy) {
  .zaux-svg-fluid-wrapper {
    svg {
      height: auto;
    }
  }
}

// Home Pillars misc
[class^="pillars-"],
[class*="pillars-"] {
  &:hover {
    text-decoration: underline;
  }
}
.pillars-t1 {
  & a:hover{
  color: #09731C !important;
  }
}
.pillars-t2 {
  & a:hover {
    color: #DEB114 !important;
  }
}
.pillars-t3 {
  & a:hover {
    color: #003D80 !important;
  }
}

.zaux-zi--1 {
  z-index: -1;
}
.zaux-zi-1 {
  z-index: 1;
}

.border-gradient {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right ,#D32E12 0%, #fd1892 25%, #fec837 50%,  #b8fd33 75%, #2c90fc 100%) 1;
}
.border-left-gradient {
  border-left-width: 2px;
  border-left-style: solid;
  border-image: linear-gradient(to bottom ,#b827fc 0%, #fd1892 25%, #fec837 50%,  #b8fd33 75%, #2c90fc 100%) 1;
}

// .tag-list > *:nth-child(-n + 5) {
//   display: inline-block;
// }




//Table Cookbook
.divTable__cookbook {
  width: 100%;
  max-width: 460px;
  display: table;
  & .divRow--head {
    display: table-row;
  }
  & .divRow {
    display: table-row;
    & .divCell {
      border-bottom: 1px solid #D8D8D8;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }
  & .divCell {
    display: table-cell;
    padding-left: 20px;
    &:first-child {
      width: 100%;
    }

  }
}


// Table Benefits
.table-container {
  display: block;
  margin: auto;
  width: 100%;

  & .header {
    border-bottom: 1px solid #ACACAC;
    & .flex-row {
      padding-bottom: 15px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 600;
      padding: 15px;
      &:not(:first-child) {
        border-left: 1px solid #d8d8d8;
      }
    }
  }

  & .divTable {
    position: relative;
    border-radius: 10px;
    &:hover {
      background-color: white;
    }
    & .flex-row {
      padding: 15px;
      width: 12.5%;
      &:not(:first-child) {
        border-left: 1px solid #d8d8d8;
      }
      &:first-child {
        font-weight: 700;
        font-size: 20px;
        width: 25%;
      }
      &:nth-child(2){
        width: 25%;
      }

    }

    @include media-breakpoint-down(lg) {
      display: block;
      margin-bottom: 20px;
      padding-top: 15px;
      background-color: white;
      text-align: center;
      &.closed::after  {
        content: '+';
        font-family: "Futura PT", Arial, sans-serif;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
      }
      & .flex-row {
        width: 100%;
        padding: 0 0 10px 0;
        &:not(:first-child) {
          border: none;
        }
        &:first-child{
          width: 100%;
        }
        &:nth-child(2){
          width: 100%;
        }
        & span {
          font-size: 12px;
          font-weight: 600;
        }
        & .c-img {
          display: inline-block;
          width: 20px;
        }
      }
  }

    &.open {
      background-color: white;
     & .flex-row {
      border: none !important;
     }

    @include media-breakpoint-down(lg) {
      &::after {
        content: '-';
        font-family: "Futura PT", Arial, sans-serif;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
      }
    }
    & .divTable--show {
      display: block !important;
      border-top: 1px solid #d8d8d8;
      width: 100%;
      padding: 30px 20px;
      @include media-breakpoint-down(lg) {
      padding-bottom: 0;
      }

    }
  }

  &:last-child {
    border-bottom: 1px solid #ACACAC;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    &:hover {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  }

}

.flex-table {
  display: flex;
  flex-flow: row wrap;

  &:hover {
    background: #F5F5F5;
    transition: 500ms;
  }
}

.zaux-fit-contain {
  object-fit: contain;
}


