@charset "UTF-8";

@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$zaux-helper-name: "pos";

.zaux-#{$zaux-helper-name}-content {
  max-width: 1440px;
  margin: auto;
}
.zaux-#{$zaux-helper-name}-content2 {
  max-width: 1254px;
  margin: auto;
}

.zaux-#{$zaux-helper-name}-herobox {
  @include media-breakpoint-up(lg) {
  display: flex;
  & .hcol-1 {
    @include media-breakpoint-up(lg) {
    flex-basis: 64%;
    }
  }
  & .hcol-2 {
    @include media-breakpoint-up(lg) {
    flex-basis: 36%;
    }
  }
}
}


// Custom

.zaux-#{$zaux-helper-name}-custom1 {
  @include media-breakpoint-down(lg) {
    left: -150px;
  }
}
.zaux-#{$zaux-helper-name}-custom2 {
  top:30px;
  @include media-breakpoint-down(lg) {
    top:15px;
    left: -300px;
  }
}

.zaux-#{$zaux-helper-name}-custom3 {
  @include media-breakpoint-up(md) {
   position: absolute;
   left: 0;
   }
 }

 .zaux-#{$zaux-helper-name}-custom4 {
  @include media-breakpoint-down(lg) {
    transform: translateY(45px) rotate(180deg);
   }
 }

 .zaux-#{$zaux-helper-name}-custom5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
 }


// Custom Twitter Box
.zaux-#{$zaux-helper-name}-twitter1 {
    position: absolute;
    left: 188px;

}
.zaux-#{$zaux-helper-name}-twitter2 {
    position: absolute;
    right: 188px;

}


//Custom Benefits Story Card
.zaux-#{$zaux-helper-name}-story1 {
 @include media-breakpoint-up(lg) {
  position: absolute;
  top: 100px;
  }
}

//Custom Benefits cta Seminar Card
.zaux-#{$zaux-helper-name}-ctasem {
   position: absolute;
   bottom: 30px;
   right: 0;
   left: 0;
 }

//Custom Header position on scroll
.zaux-#{$zaux-helper-name}-header1 {
  @include media-breakpoint-up(lg) {
   position: absolute;
   left: 150px;
   }
   & .c-menu__btn-toggle {
    margin-right: 35px !important;
   }
 }
 .zaux-#{$zaux-helper-name}-header2 {
  @include media-breakpoint-up(lg) {
   position: absolute;
   }
 }
 .zaux-#{$zaux-helper-name}-header3 {
  @include media-breakpoint-up(lg) {
   position: absolute;
   right: 0;
   }
 }


 //Custom Nav Paris Congress sticky on scroll
 .zaux-#{$zaux-helper-name}-nav {
    position: fixed;
    // max-width: 1440px;
    width: 100%;
    z-index: 19;
    top: 65px;
  @include media-breakpoint-up(lg) {
    top: 80px;
   }
 }

