@charset "UTF-8";

@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$zaux-helper-name: "pos";

// Custom

.zaux-#{$zaux-helper-name}-custom1 {
  @include media-breakpoint-down(lg) {
    left: -150px;
  }
}
.zaux-#{$zaux-helper-name}-custom2 {
  top:30px;
  @include media-breakpoint-down(lg) {
    top:15px;
    left: -300px;
  }
}

// Custom Twitter Box
.zaux-#{$zaux-helper-name}-twitter1 {
    position: absolute;
    left: 188px;

}
.zaux-#{$zaux-helper-name}-twitter2 {
    position: absolute;
    right: 188px;

}


//Custom Benefits Stoty Card
.zaux-#{$zaux-helper-name}-story1 {
 @include media-breakpoint-up(lg) {
  position: absolute;
  top: 100px;
  }
}


