@charset "UTF-8";

@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$zaux-helper-name: "size";

.miw-f397 {
  min-width: 397px;
}

//// Box Title ///
.mih-boxtitle {
  min-height: 155px;
  @include media-breakpoint-up(lg) {
    min-height: 212px;
  }
}

.mih-200 {
  min-height: 200px;
}
.mih-215 {
  min-height: 215px;
}
.mih-560 {
  min-height: 560px;
}
.mih-625 {
  min-height: 625px;
}


//max width
.maw-f400 {
  max-width: 400px;
}

.maw-f550 {
  max-width: 550px;
}

.maw-f640 {
  max-width: 640px;
}

.maw-f768 {
  max-width: 768px;
}

.maw-f825 {
  max-width: 825px;
}

.maw-f1025 {
  max-width: 1025px;
}



//Width
.w-#{$zaux-helper-name}-200 {
  @include media-breakpoint-down(lg) {
    width: 200px;
  }
}
.w-#{$zaux-helper-name}-custom183 {
  width: 183px;
  @include media-breakpoint-down(lg) {
    width: 105px;
  }
}


//Custom
.maw-#{$zaux-helper-name}-custom1 {
  max-width: 550px;
  @include media-breakpoint-down(lg) {
    max-width: 200px;
  }
}

.maw-#{$zaux-helper-name}-custom2 {
  max-width: 300px;
  @include media-breakpoint-down(lg) {
  max-width: 100%;
  }
}


//Custom Time Box

.zaux-#{$zaux-helper-name}-timebox {
  max-width: 183px;
  max-height: 183px;
  @include media-breakpoint-down(lg) {
    max-width: 105px;
    max-height: 105px;
  }

}
