@charset "UTF-8";

@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$zaux-helper-name: "size";

.miw-f397 {
  min-width: 397px;
}


//// Box Title ///
.mih-boxtitle {
  min-height: 155px;
  @include media-breakpoint-up(lg) {
    min-height: 212px;
  }
}
